%p.card-text
  = fa_solid 'calendar-alt'
  = @workshop.when
- if @workshop.is_public?
  %p.card-text
    = fa_solid 'usd-circle'
    = number_to_currency(@workshop.ticket_price)
  %p.card-text
    = fa_solid 'chair'
    = "#{@workshop.tickets_available} seats available"
- else
  %p.card-text
    = fa_regular 'usd-circle'
    %p
      = "#{number_to_currency(Workshop.private_deposit)} deposit, due today"
      = "#{number_to_currency(@workshop.ticket_price)} per ticket, paid later"
  %p.card-text
    = fa_regular 'ticket-alt'
    = "#{Workshop.private_min} - #{@workshop.total_tickets} attendees"
%p.card-text= @workshop.description
