%p.card-text
  = fa_solid 'calendar-alt', 'text-primary fa-fw'
  = @workshop.when
- if @workshop.is_public?
  %p.card-text
    = fa_solid 'ticket-alt', 'text-primary fa-fw'
    = "#{@workshop.seats_available} seats available"
  %p.card-text
    = fa_solid 'usd-circle', 'text-primary fa-fw'
    %span#total-price Select a project to see pricing
    %input{id: 'base-price', value: '0.00', type: 'hidden'}
- else
  %p.card-text
    = fa_solid 'ticket-alt', 'text-primary fa-fw'
    = "#{Workshop.private_min} - #{@workshop.total_tickets} attendees"
  %p.card-text
    = fa_solid 'usd-circle', 'text-primary fa-fw'
    = "#{number_to_currency(Workshop.private_deposit)} deposit due today by host"
%p.card-text= @workshop.description
