%p.card-text
  = fa_solid 'calendar-alt', 'text-primary fa-fw'
  = workshop.when
%p.card-text
  = fa_solid 'toolbox', 'text-primary fa-fw'
  = "#{workshop.workshop_type.name} Workshop"
- if workshop.description
  %p.card-text= workshop.description
