%p.card-text
  = fa_regular 'calendar-alt'
  = @workshop.when
- if @workshop.is_public?
  %p.card-text
    = fa_regular 'usd-circle'
    = number_to_currency(@workshop.ticket_price)
  %p.card-text
    = fa_regular 'ticket-alt'
    = "#{@workshop.tickets_available} tickets available"
- else
  %p.card-text
    = fa_regular 'usd-circle'
    = "#{number_to_currency(Workshop.private_deposit)} deposit and #{number_to_currency(@workshop.ticket_price)} per ticket"
  %p.card-text
    = fa_regular 'ticket-alt'
    = "#{Workshop.private_min} - #{@workshop.total_tickets} attendees"
%p.card-text= @workshop.description
