- if @workshop.is_private?
  %p.card-text.text-warning
    Seats and projects can be assigned and selected after workshop booking.
.form-row
  .form-group.col
    = f.label :project
    = f.select :project_id,
        options_from_collection_for_select(@workshop.projects, 'id', 'name'),
        { value: nil, include_blank: '- Please Select -' },
        { class: 'form-control custom-select', 'data-js-change-project': '', disabled: @workshop.is_private? }
.form-row
  .form-group.col-6
    = f.label :stencil
    = f.select :stencil_id,
        options_from_collection_for_select([], 'id', 'name'),
        { value: nil, include_blank: '- Select Project -' },
        { class: 'form-control custom-select', 'data-js-change-stencil': '', disabled: @workshop.is_private? }
  .form-group.col-6
    = f.label :addons
    = f.select :addon_id,
        options_from_collection_for_select([], 'id', 'name'),
        { value: nil, include_blank: '- Select Project -' },
        { class: 'form-control custom-select', 'data-js-change-addon': '', disabled: @workshop.is_private? }
.form-row{style: 'display: none', 'data-js-custom-stencil': ''}
  .form-group.col
    = f.label :custom_stencil
    = f.text_field :stencil, class: 'form-control', 'data-js-custom-stencil-input': ''
- if @workshop.is_public?
  .form-row
    .form-group.col
      = f.label :seating_preference
      = f.text_field :seating, class: 'form-control'
