- @workshops.each_slice(3) do |group|
  .row
    - group.each do |workshop|
      .col.col-md-6.col-lg-4
        .card
          - if workshop.images.any?
            %img.card-img-top{alt: "Image of #{workshop.name}", src: url_for(workshop.images.first), height: 350}
          - else
            %img.card-img-top{alt: "Image of #{workshop.name}", src: '/cover.jpg', height: 350}
          - if workshop.seats_available.between?(1, 10)
            %h5.card-header
              = "Only #{workshop.seats_available} left!"
          - elsif workshop.seats_available.zero?
            %h5.card-header.bg-info.text-white
              Sold out!
          .card-body
            %h4.card-title
              %a{href: workshop_path(workshop)}
                = workshop.start_date.strftime('%B %d, %I:%M %p')
                %br
                = workshop.name
            %h5.text-primary
              = number_to_currency(workshop.ticket_price)
              - if workshop.is_private?
                %span.ml-2.badge.badge-info Private
  %br
