- @workshops.each do |workshop|
  .workshop-row-item.text-center.pt-3
    - if workshop.workshop_images.any?
      %img.img-fluid.img-thumbnail{alt: "Image of #{workshop.name}", src: url_for(workshop.workshop_images.first)}
    - else
      %img.img-fluid.img-thumbnail{alt: "Image of #{workshop.name}", src: asset_path('cover.jpg')}

    %div.d-lg-none
      %a.pt-3{href: workshop_path(workshop)}
        = workshop.when
        %br
        = workshop.name
      .text-primary
        = "Starting at #{number_to_currency(starting_price(workshop))}"
      - if workshop.seat_purchaseable? || workshop.reservation_purchaseable?
        %span.text-warning= workshop.seats_available
        %span.text-primary.text-uppercase seats left!
      - else
        %span.text-danger.text-uppercase= sold_out_text(workshop)
    %div.d-none.d-lg-inline
      %h5.card-title.pt-3
        %a{href: workshop_path(workshop)}
          = workshop.when
          %br
          = workshop.name
      %h5.text-primary
        = "Starting at #{number_to_currency(starting_price(workshop))}"
      - if workshop.seat_purchaseable? || workshop.reservation_purchaseable?
        %h5
          %span.text-warning= workshop.seats_available
          %span.text-primary.text-uppercase seats left!
      - else
        %h5.text-danger.text-uppercase= sold_out_text(workshop)
