= form_for :cart, url: cart_index_path do |f|
  = f.hidden_field :workshop_id, value: @workshop.id
  = f.hidden_field :type, value: 'seat'

  %p.card-text
    = fa_solid 'ticket-alt', 'text-primary fa-fw'
    = "#{@workshop.seats_available} seats available"
  %p.card-text
    = fa_solid 'usd-circle', 'text-primary fa-fw'
    %span#total-price Select a project to see pricing
    %input{id: 'base-price', value: '0.00', type: 'hidden'}
  .form-row
    .form-group.col
      = fa_solid 'sign', 'text-primary fa-fw'
      = f.label :project
      = f.select :project_id,
          options_from_collection_for_select(@workshop.projects, 'id', 'name'),
          { value: nil, include_blank: '- Please Select -' },
          { class: 'form-control custom-select', 'data-js-change-project': '', required: true }
  .form-row
    .form-group.col
      = fa_solid 'swatchbook', 'text-primary fa-fw'
      = f.label :stencil_design
      .input-group
        = f.select :stencil_id,
            options_from_collection_for_select([], 'id', 'name'),
            { value: nil, include_blank: '- Select Project -' },
            { class: 'form-control custom-select', 'data-js-change-stencil': '', required: true }
        .input-group-append
          %a.btn.btn-outline-secondary.disabled{href: '#', 'data-js-project-preview': '', target: '_blank'} Preview
  .form-row
    .form-group.col
      = fa_solid 'palette', 'text-primary fa-fw'
      = f.label :stencil_personalization
      = f.text_field :stencil, class: 'form-control', disabled: true, 'data-js-custom-stencil-input': '', autocomplete: false
      %p.form-text.text-muted
        Please enter your information for personalization shown on the design you have chosen, this includes
        any names, dates, city, state, gps coordinates, etc.
  .form-row
    .form-group.col
      = fa_solid 'stamp', 'text-primary fa-fw'
      = f.label :addons, 'Add-on'
      = f.select :addon_id,
          options_from_collection_for_select([], 'id', 'name'),
          { value: nil, include_blank: '- Select Project -' },
          { class: 'form-control custom-select', 'data-js-change-addon': '' }
  .form-row
    .form-group.col
      = fa_solid 'chair', 'text-primary fa-fw'
      = f.label :seating_preference
      = f.text_field :seating, class: 'form-control', autocomplete: false
  
  - if @guest_purchase  
    .form-row
      .form-group.col
        .custom-control.custom-checkbox
          = f.check_box :gift_seat, class: 'custom-control-input', 'data-js-gift-seat': ''
          = f.label :gift_seat, 'This reservation is for someone else', class: 'custom-control-label'
    %div{'data-js-seat-info': '', style: 'display: none;'}
      %h6.card-title
        = fa_solid 'user', 'text-primary fa-fw'
        Recipient Information
      .form-row
        .form-group.col-6
          = f.label :first_name
          = f.text_field :first_name, class: 'form-control', autocomplete: false
        .form-group.col-6
          = f.label :last_name
          = f.text_field :last_name, class: 'form-control', autocomplete: false
        .form-group.col-12
          = f.label :email_address
          = f.text_field :email, class: 'form-control', autocomplete: false
  %hr
  .form-row
    .form-group.col
      .custom-switch.custom-control
        = f.check_box :acknowledgment, class: 'custom-control-input', required: 'required'
        = f.label :acknowledgment, class: 'custom-control-label'
      %p.form-control-plaintext
        I understand this is a Wood Workshop, so my sign MAY HAVE random cracks, chips, knots, and
        other NATURAL blemishes that give it it’s characteristics.
  .form-row
    .form-group.col
      .custom-switch.custom-control
        = f.check_box :design_confirmation, class: 'custom-control-input', required: 'required'
        = f.label :design_confirmation, class: 'custom-control-label'
      %p.form-control-plaintext
        I have entered the correct design and/or customization info. I userstand that NO CHANGES
        can be made to my design choice OR any personalization once my reservation is submitted.
  .form-row
    .form-group.col
      .custom-switch.custom-control
        = f.check_box :policy_agreement, class: 'custom-control-input', required: 'required'
        = f.label :policy_agreement, class: 'custom-control-label'
      %p.form-control-plaintext
        I have read and agree to the
        %a{href: workshop_policies_path(@workshop)}= "#{@workshop.workshop_type.name} Workshop Policies."
        I understand that because projects at Sign Junkie are hand-made, there is a NO REFUND policy
        in place. If I must cancel my reservation I must find someone to come in my place. If I arrive
        later than 20 minutes after the start time, the reservation fee I am about to pay will be forfeited.
        I also understand that NO unfinsihed projects will be given if I fail to attend this workshop.

  %button{type: 'submit', name: 'save', class: 'btn btn-info btn-block'}
    = fa_solid 'cart-plus'
    Add to Cart
