.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        New Seat for #{@workshop.name}

.row{'data-controller': 'seat-wizard',
     'data-seat-wizard-workshop-id-value': @workshop.id,
     'data-seat-wizard-active-class': 'active',
     'data-seat-wizard-disabled-class': 'disabled'}

  .col-12.col-sm-4.order-2.order-md-1
    %div{'data-seat-wizard-target': 'sidebarContent'}
      .card.card-sticky
        .card-body
          %p.card-text
            To get started, tell us who you're purchasing this seat for and then select a project to see pricing.

  .col.order-1.order-md-2
    .card
      .card-header.sticky-top
        = render partial: 'workshops/new_seat/tabs'
      .card-body
        #seatPickerTabs.tab-content
          #guest.tab-pane.fade.show.active{"aria-labelledby": "guest-tab", role: "tabpanel"}
            = render partial: 'workshops/new_seat/guest'

          #project.tab-pane.fade{"aria-labelledby": "project-tab", role: "tabpanel", 'data-seat-wizard-target': 'projectTabContent'}
          #stencil.tab-pane.fade{"aria-labelledby": "stencil-tab", role: "tabpanel", 'data-seat-wizard-target': 'stencilTabContent'}
          #addon.tab-pane.fade{"aria-labelledby": "addon-tab", role: "tabpanel", 'data-seat-wizard-target': 'addonTabContent'}

          #review.tab-pane.fade{"aria-labelledby": "review-tab", role: "tabpanel"}
            = render partial: 'workshops/new_seat/review'

            %button.btn.btn-info.btn-block{type: 'submit'}
              = fa_solid 'cart-plus'
              Add to Cart
