.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        New Seat for #{@workshop.name}

.row{'data-controller': 'seat-wizard seat-wizard--sidebar',
     'data-seat-wizard-workshop-id-value': @workshop.id,
     'data-seat-wizard-active-class': 'active',
     'data-seat-wizard-disabled-class': 'disabled'}

  .col-4
    = render partial: 'workshops/new_seat/sidebar'

  .col
    = render partial: 'workshops/new_seat/tabs'

    #seatPickerTabs.tab-content
      #guest.tab-pane.fade.show.active{"aria-labelledby": "guest-tab", role: "tabpanel"}
        = render partial: 'workshops/new_seat/guest'

      #project.tab-pane.fade{"aria-labelledby": "project-tab", role: "tabpanel", 'data-seat-wizard-target': 'projectTabContent'}
      #stencil.tab-pane.fade{"aria-labelledby": "stencil-tab", role: "tabpanel", 'data-seat-wizard-target': 'stencilTabContent'}
      #addon.tab-pane.fade{"aria-labelledby": "addon-tab", role: "tabpanel", 'data-seat-wizard-target': 'addonTabContent'}

      #review.tab-pane.fade{"aria-labelledby": "review-tab", role: "tabpanel"}
        = render partial: 'workshops/new_seat/review'

        %button.btn.btn-info.btn-block{type: 'submit'}
          = fa_solid 'cart-plus'
          Add to Cart
