.row
  .col-12.col-lg-6.mb-2
    - if @workshop.images.any?
      .col
        %img.mb-2.center-img.img-fluid.img-thumbnail{alt: "Image of #{@workshop.name}",
          src: url_for(@workshop.images.first), 'data-js-img-gallery-preview': ''}
      - @workshop.images.each do |img|
        .col-12.col-md-6.text-center
          %img.img-fluid.img-thumbnail{src: url_for(img), 'data-js-img-gallery-thumbnail': ''}
    - else
      .row
        .col.text-center
          %img.mb-2.center-img.img-fluid.img-thumbnail{alt: "Image of #{@workshop.name}",
            src: '/cover.jpg', 'data-js-img-gallery-preview': ''}
    .row
      - @workshop.projects.each do |project|
        - project.project_images.each do |img|
          .col-12.col-md-6.text-center
            %img.img-fluid.img-thumbnail{src: url_for(img), 'data-js-img-gallery-thumbnail': ''}
  .col-12.col-lg-6.mb-2
    .card
      %h4.card-header.bg-primary.text-white
        = @workshop.name
      - if user_signed_in?
        - if @workshop.can_purchase?
          = form_for :cart, url: cart_index_path do |f|
            = f.hidden_field :workshop_id, value: @workshop.id
            .card-body
              = render partial: 'body'
              = render partial: 'form', locals: { f: f }
              %button{type: 'submit', name: 'save', class: 'btn btn-success btn-block'}
                = fa_solid 'cart-plus'
                Add to Cart
        - else
          .card-body
            = render partial: 'body'
            .text-muted Sorry, but tickets for this workshop can't be purchased right now
      - else
        .card-body
          = render partial: 'body'
          %a.btn.btn-primary.btn-block(href=new_user_session_path)
            = fa_light 'sign-in'
            Log In or Sign up to add this to your cart
