.row
  .col-12.col-md-6.mb-2.order-2.order-md-1
    .row
      - if @workshop.workshop_images.any?
        .col-12.d-flex.justify-content-center
          %img.mb-2.img-fluid.img-pointer{alt: "Image of #{@workshop.name}",
            src: url_for(@workshop.workshop_images.first), 'data-js-img-gallery-preview': ''}
        - @workshop.workshop_images.each do |img|
          .workshop-img-item
            %img.mb-2.img-fluid.img-thumbnail.img-pointer{src: url_for(img), 'data-js-img-gallery-thumbnail': ''}
      - else
        .col-12
          %img.mb-3.img-fluid.img-thumbnail.img-pointer{alt: "Image of #{@workshop.name}",
            src: asset_path('cover.jpg'), 'data-js-img-gallery-preview': ''}

      - @workshop.projects.active.each do |project|
        - project.project_images.each do |img|
          .workshop-img-item.mb-3.text-center
            %img.img-fluid.img-thumbnail.img-pointer{src: url_for(img), 'data-js-img-gallery-thumbnail': ''}
            %a{href: project_path(project)}= project.name

  .col-12.col-md-6.mb-2.order-1.order-md-2
    .card
      %h3.card-header.bg-primary.text-white
        = @workshop.name
      .card-body
        %p.card-text
          = fa_solid 'calendar-alt', 'text-primary fa-fw'
          = @workshop.when
        %p.card-text
          = fa_solid 'toolbox', 'text-primary fa-fw'
          = "#{workshop_type_name(@workshop)} Workshop"
        - if @workshop.description
          %p.card-text= @workshop.description

    - if user_signed_in? && @workshop.seat_purchaseable? || @workshop.reservation_purchaseable?
      - if @workshop.reservation_purchaseable?
        .card.mt-2
          .card-body
            %h4.card-title Group Reservations
            %p.card-text
              = fa_solid 'usd-circle', 'text-primary fa-fw'
              %span#total-price= "#{number_to_currency @workshop.reservation_price} deposit due today"
              %input{id: 'base-price', value: '0.00', type: 'hidden'}
            %p.card-text
              = fa_solid 'calendar-exclamation', 'text-primary fa-fw'
              Reservation must be booked by #{special_date @workshop.booking_deadline}
            %p.card-text
              = fa_solid 'ticket-alt', 'text-primary fa-fw'
              = "#{@workshop.reservation_minimum_seats} - #{@workshop.reservation_maximum_seats} guests allowed"

            - if @already_hosting != false
              .alert.alert-info
                %h5.alert-heading
                  = fa_solid 'exclamation-triangle'
                  Heads up!
                You already have booked a reservation for this workshop.
                %a.btn.btn-link.btn-block.btn-sm.text-uppercase{href: reservation_path(@already_hosting)}
                  View in Workshop Planner
            - else
              %a.btn.btn-link.btn-block{href: reservation_workshop_path(@workshop)}
                Book GROUP reservation

      - if @workshop.seat_purchaseable?
        .card.mt-2
          .card-body
            %h4.card-title Individual Seats
            %p.card-text
              = fa_solid 'usd-circle', 'text-primary fa-fw'
              %span= "Starting at #{number_to_currency(starting_price(@workshop))}"
              %input{id: 'base-price', value: '0.00', type: 'hidden'}
            %p.card-text
              = fa_solid 'calendar-exclamation', 'text-primary fa-fw'
              Seats must be purchased by #{special_date @workshop.purchase_end_date}
            %p.card-text
              = fa_solid 'ticket-alt', 'text-primary fa-fw'
              = "#{@workshop.seats_available} seats available"

            - if @already_attending != false
              .alert.alert-info
                %h5.alert-heading
                  = fa_solid 'exclamation-triangle'
                  Heads up!
                You already have a seat for this workshop!
                %a.btn.btn-info.btn-block.btn-sm.text-uppercase{href: seat_path(@already_attending)}
                  View your seat

              %a.btn.btn-primary.btn-block{href: seat_workshop_path(@workshop)}
                Book ANOTHER seat
            - else
              %a.btn.btn-primary.btn-block{href: seat_workshop_path(@workshop)}
                Book ONE seat
    - else
      .card.mt-2
        .card-body
          - unless user_signed_in?
            %a.btn.btn-primary.btn-block{href: new_user_session_path}
              = fa_light 'sign-in'
              Log In or Sign up to add this to your cart
          - else
            %p= t('workshop.empty')

          %a.btn.btn-primary.btn-block{href: workshops_public_path}
            View PUBLIC Workshop dates

          %a.btn.btn-primary.btn-block{href: workshops_private_path}
            View PRIVATE Workshop dates
