.row
  .col-12.col-md-6.mb-2.order-2.order-md-1
    = render partial: 'photo_gallery'

  .col-12.col-md-6.mb-2.order-1.order-md-2
    .card
      %h3.card-header.bg-primary.text-white
        = @workshop.name
      - if @workshop.seat_purchaseable? || @workshop.reservation_purchaseable?
        - if user_signed_in?
          .card-body
            = render partial: 'body', locals: { workshop: @workshop }

            - if @workshop.seat_purchaseable? && @workshop.reservation_purchaseable?
              %p.card-text.text-info= t('workshop.hostess_note')

            - if @already_hosting != false
              = render partial: 'already_hosting'
            - if @already_attending != false
              = render partial: 'already_attending'

          .card-header
            %ul#workshopTab.nav.nav-tabs.card-header-tabs{role: "tablist"}
              - if @workshop.seat_purchaseable?
                = render partial: 'general/tab_header', locals: { id: 'seat', active: @workshop.seat_purchaseable?, title: 'Individual Seat' }
              - if @workshop.reservation_purchaseable?
                = render partial: 'general/tab_header', locals: { id: 'reservation', active: !@workshop.seat_purchaseable?, title: 'Group Reservation' }

          .card-body
            #workshopTabContent.tab-content
              - if @workshop.seat_purchaseable?
                = render partial: 'general/tab_pane', locals: { id: 'seat', active: @workshop.seat_purchaseable?, view_name: 'seat_form' }
              - if @workshop.reservation_purchaseable?
                = render partial: 'general/tab_pane', locals: { id: 'reservation', active: !@workshop.seat_purchaseable?, view_name: 'reservation_form' }
        - else
          .card-body
            = render partial: 'body', locals: { workshop: @workshop }
            %a.btn.btn-primary.btn-block{href: new_user_session_path}
              = fa_light 'sign-in'
              Log In or Sign up to add this to your cart
      - else
        .card-body
          = render partial: 'body', locals: { workshop: @workshop }

          - if @already_hosting != false
            = render partial: 'already_hosting'
          - if @already_attending != false
            = render partial: 'already_attending'
          - else
            %p= t('workshop.empty')

          %a.btn.btn-primary.btn-block{href: workshops_public_path}
            View PUBLIC Workshop dates

          %a.btn.btn-primary.btn-block{href: workshops_private_path}
            View PRIVATE Workshop dates
