= f.hidden_field :id
.form-group
  = f.label :name, class: 'col-form-label'
  = f.text_field :name, class: 'form-control'
.form-row
  .form-group.col
    = f.label :start_date, class: 'col-form-label'
    #startpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
      = f.text_field :start_date, value: lifp(@workshop.start_date), class: 'form-control datetimepicker-input', 'data-target': '#startpicker'
      .input-group-append{"data-target": "#startpicker", "data-toggle": "datetimepicker"}
        .input-group-text
          = fa_regular 'calendar'
  .form-group.col
    = f.label :end_date, class: 'col-form-label'
    #endpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
      = f.text_field :end_date, value: lifp(@workshop.end_date), class: 'form-control datetimepicker-input', 'data-target': '#endpicker'
      .input-group-append{"data-target": "#endpicker", "data-toggle": "datetimepicker"}
        .input-group-text
          = fa_regular 'calendar'
.form-group
  = f.label :description, class: 'col-form-label'
  = f.text_area :description, class: 'form-control', rows: 3
.form-row
  .form-group.col
    = f.label :total_seats, class: 'col-form-label'
    = f.text_field :total_tickets, class: 'form-control'
  .form-group.col
    = f.label :is_public, class: 'control-label'
    .custom-control.custom-radio
      = f.radio_button :is_public, 'true', class: 'custom-control-input'
      %label.custom-control-label{for: "workshop_is_public_true"} Public Workshop
    .custom-control.custom-radio
      = f.radio_button :is_public, 'false', class: 'custom-control-input'
      %label.custom-control-label{for: "workshop_is_public_false"} Private Workshop
  .form-group.col
    = f.label :options, class: 'control-label'
    .custom-switch.custom-control
      = f.check_box :allow_custom_stencils, class: 'custom-control-input'
      = f.label :allow_custom_stencils, class: 'custom-control-label'
    -# .custom-switch.custom-control
    -#   = f.check_box :allow_pick_your_project, class: 'custom-control-input'
    -#   = f.label :allow_custom_stencils, class: 'custom-control-label'
%hr
%h2 Purchasing
.form-group
  .custom-switch.custom-control
    = f.check_box :is_for_sale, class: 'custom-control-input'
    = f.label :is_for_sale, class: 'custom-control-label'
.form-row
  .form-group.col
    = f.label :purchase_start_date, class: 'col-form-label'
    #purchasestartpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
      = f.text_field :purchase_start_date, value: lifp(@workshop.purchase_start_date), class: 'form-control datetimepicker-input', 'data-target': '#purchasestartpicker'
      .input-group-append{"data-target": "#purchasestartpicker", "data-toggle": "datetimepicker"}
        .input-group-text
          = fa_regular 'calendar'
  .form-group.col
    = f.label :purchase_end_date, class: 'col-form-label'
    #purchaseendpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
      = f.text_field :purchase_end_date, value: lifp(@workshop.purchase_end_date), class: 'form-control datetimepicker-input', 'data-target': '#purchaseendpicker'
      .input-group-append{"data-target": "#purchaseendpicker", "data-toggle": "datetimepicker"}
        .input-group-text
          = fa_regular 'calendar'

