= render partial: 'destory_confirmation'
= render partial: 'clone'

.row
  .col-12
    .btn-toolbar
      .btn-group.mr-2
        %a.btn.btn-outline-secondary{href: admin_workshops_path}
          = fa_solid 'arrow-left'
          Back to Search
        %a.btn.btn-primary{href: edit_admin_workshop_path(@workshop)} Edit

      .btn-group.ml-2
        %a.btn.btn-info{href: workshop_path(@workshop), target: '_blank'} Public View
        .btn-group
          %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
            Actions
          .dropdown-menu.dropdown-menu-right
            %a.dropdown-item{href: new_image_admin_workshop_path(@workshop)}
              = fa_duo 'file-image'
              Add Image
            %a.dropdown-item{href: admin_guest_list_report_path(workshop_id: @workshop.id)}
              = fa_duo 'file-image'
              Attendee List
            %a.dropdown-item{"data-target": "#clonemodal", "data-toggle": "modal", href: "#"}
              = fa_duo 'copy'
              Clone Workshop
            - if @workshop.deleteable?
              %a.dropdown-item{"data-target": "#destroymodal", "data-toggle": "modal", href: "#"}
                = fa_duo 'trash'
                Delete Workshop
