- unless seats.any?
  .card.mt-3
    .card-body
      .text-muted No customers have RSVPd to this workshop yet.
- else
  %ul.list-group
    - seats.each do |item|
      %li.list-group-item
        .row
          .col-12.col-md-9.mb-3.mb-md-0
            .media
              .media-body
                %h5.card-title= item.name
                - if item.cancel_date.present?
                  .font-size-1.mb-1.text-warning{title: 'Cancel Date'}
                    = fa_solid 'ban', 'fa-fw'
                    CANCELED
                - if item.void_date.present?
                  .font-size-1.mb-1.text-warning{title: 'Cancel Date'}
                    = fa_solid 'ban', 'fa-fw'
                    VOIDED
                - if item.seat_preference.present?
                  .font-size-1.mb-1{title: 'Seating preference'}
                    = fa_solid 'chair', 'text-primary fa-fw'
                    = item.seat_preference
                - if item.project_name.present?
                  .font-size-1.mb-1{title: 'Project'}
                    = fa_solid 'sign', 'text-primary fa-fw'
                    = item.project_name
                - if item.stencil_name.present?
                  .card-text.mb-1{title: 'Stencil'}
                    = fa_solid 'swatchbook', 'text-primary fa-fw'
                    = item.stencil_name
                  - if item.stencil_personalization.present?
                    .font-size-1.mb-1{title: 'Add-on'}
                      = fa_solid 'palette', 'text-primary fa-fw'
                      = item.stencil_personalization
                - if item.addon_id.present?
                  .font-size-1.mb-1{title: 'Add-on'}
                    = fa_solid 'stamp', 'text-primary fa-fw'
                    = item.addon_name
          .col-12.col-md-3.text-right
            = link_to admin_invoice_path(item.invoice), class: "btn btn-secondary" do
              %span.fas.fa-file-invoice
              View Invoice
            = link_to "mailto:#{item.customer.email}", class: "btn btn-secondary mt-2" do
              %span.fas.fa-envelope
              Contact
