- page_title 'Edit', @workshop.name, 'workshops'


= form_for @workshop, url: admin_workshop_path(@workshop), method: :patch do |f|
  .header.mt-md-2
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Workshops
          %h1.header-title
            %i.fad.fa-toolbox
            = "Edit #{@workshop.name}"
        .col-auto
          = link_to 'Cancel', admin_workshop_path(@workshop), class: 'btn btn-outline-secondary'
          = f.submit 'Save', class: 'btn btn-success'

  = render partial: 'admin/workshops/form', locals: { f: f }
