- page_title 'Workshop Search'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Workshops
        %h1.header-title
          %i.fad.fa-toolbox
          Search
      .col-auto
        = link_to 'New Workshop', new_admin_workshop_path, class: 'btn btn-primary lift'
    .row.align-items-center
      .col
        = render(SearchNavigationTabs::Component.new(tabs: workshop_tabs,
                                                     path: :admin_workshops_path,
                                                     params: params))

.card
  .card-header
    = search_form_for(@q, url: admin_workshops_path) do |f|
      = hidden_field_tag :scope, value: params[:scope]
      .row.align-items-center
        .col
          .input-group.input-group-flush
            .input-group-prepend
              %span.input-group-text
                %i.fas.fa-search
            = f.search_field :name_cont, class: 'form-control list-search', placeholder: 'Search'
        .col-auto
          .dropdown
            %button.btn.btn-sm.btn-white{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
              %i.fas.fa-filter.mr-1
              Filter
            .dropdown-menu.dropdown-menu-right.dropdown-menu-card
              .card-header
                %h4.card-header-title
                  Filters
                %button.btn.btn-sm.btn-link.text-reset{type: "reset"}
                  %small Clear filters
              .card-body
                .list-group.list-group-flush.mt-n4.mb-4
                  .list-group-item
                    .row
                      .col
                        %small Timeframe
                      .col-auto
                        %select.custom-select.custom-select-sm
                          %option Upcoming
                          %option Past
                          %option All
                  .list-group-item
                    .row
                      .col
                        %small Type
                      .col-auto
                        = f.select :workshop_type_id_eq,
                          options_from_collection_for_select(WorkshopType.all, "id", "name", @q.workshop_type_id_eq),
                          include_blank: true,
                          class: 'custom-select custom-select-sm'
                %button.btn.btn-block.btn-primary{type: "submit"}
                  Apply filter

  %table.table.table-striped.border-bottom.card-table
    %thead
      %tr
        %th= sort_link(@q, :name)
        %th Status
        %th= sort_link(@q, :start_date, 'Date')
        %th Type
        %th Seats Available
    %tbody
      - @workshops.each do |workshop|
        %tr
          %td= link_to workshop.name, admin_workshop_path(workshop)
          %td= render partial: 'admin/statuses/workshop', locals: { workshop: workshop }
          %td= workshop.when
          %td= workshop_type_name(workshop)
          %td= "#{workshop.seats_available}/#{workshop.total_seats}"
    %tfoot
      %tr
        %td{colspan: '100%'}
          = paginate @workshops
          = page_entries_info @workshops
