- page_title 'Workshop Search'

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2
    = fa_solid 'toolbox'
    Workshops

.table-responsive
  %table.table.table-bordered.table-striped.table-hover
    %thead.bg-primary.text-white
      %tr
        %th Name
        %th Date
        %th Seats Available
    %tbody
      - @workshops.each do |e|
        %tr{data: { 'clickable-row': '', 'href': admin_workshop_path(e) }}
          %td
            = e.name
            .float-right
              - if e.is_for_sale?
                %span.badge.badge-success For Sale
              - if e.is_public?
                %span.badge.badge-info Public
                - if e.allow_custom_stencils
                  %span.badge.badge-secondary Custom Stencils
              - else
                %span.badge.badge-info Private
          %td= e.when
          %td= e.seats_available
    %tfoot
      %tr
        %td{colspan: '100%'}
          = paginate @workshops
          = page_entries_info @workshops
%br
= link_to 'New workshop', new_admin_workshop_path, class: 'btn btn-primary'
