- content_for :head do
  = javascript_include_tag 'actiontext', type: 'text/javascript', 'data-turbo-track': 'reload', defer: true
- page_title 'New', 'Workshop'

= form_for @workshop, url: admin_workshops_path, local: true do |f|
  .header
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Workshops
          %h1.header-title
            %i.fad.fa-toolbox
            New Workshop
        .col-auto
          = link_to 'Cancel', admin_workshops_path, class: 'btn btn-outline-secondary'
          = f.submit 'Create', class: 'btn btn-success'

  = render partial: 'admin/workshops/form', locals: { f: f }
