- page_title 'New', 'Workshop Image'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Workshops
        %h1.header-title
          %i.fad.fa-toolbox
          = @workshop.name

= form_for @workshop, url: upload_images_admin_workshop_path(@workshop), method: 'post', local: true do |f|
  .card
    .card-header
      %h3.card-header-title
        = fa_solid 'images'
        New Image
    .card-body
      = error_messages_for 'workshop'
      = f.hidden_field :id
      .form-group
        .custom-file{'data-controller': 'file-upload'}
          = f.file_field :images, multiple: true, class: 'custom-file-input'
          = f.label :select_one_or_more_images_to_upload, class: 'custom-file-label'
    .card-footer
      = link_to 'Cancel', admin_workshop_path(@workshop), class: 'btn btn-outline-secondary'
      = f.submit 'Upload', class: 'btn btn-success'
