- page_title @workshop.name, 'workshops'

= render partial: 'admin/workshops/header'

.row
  .col-12.col-md-4
    .card
      %h5.card-header.d-flex.align-items-center.bg-primary.text-white
        = @workshop.name
      .card-body
        .form-group
          .form-control-plaintext
            - if @workshop.is_for_sale?
              %span.badge.badge-success For Sale
            - else
              %span.badge.badge-warning Not for Sale
            - if @workshop.is_public?
              %span.badge.badge-info Public
              - if @workshop.allow_custom_stencils
                %span.badge.badge-secondary Custom Stencils
            - else
              %span.badge.badge-info Private
        .form-group
          %label.col-form-label Description
          .form-control-plaintext= @workshop.description
        .form-group
          %label.col-form-label Scheduled
          .form-control-plaintext= @workshop.when
        %hr
        .form-group
          %label.col-form-label Date available for purchase
          .form-control-plaintext= @workshop.when_purchase
        .form-group
          %label.col-form-label Remaining seats for sale
          .form-control-plaintext= @workshop.seats_available
  .col-12.col-md-8
    %ul#workshopTab.nav.nav-tabs{role: "tablist"}
      %li.nav-item
        %a#attendee-tab.nav-link.active{"aria-controls": "attendee", "aria-selected": "true", "data-toggle": "tab", href: "#attendee", role: "tab"}
          = fa_solid 'users'
          Attendees
      %li.nav-item
        %a#project-tab.nav-link{"aria-controls": "project", "aria-selected": "false", "data-toggle": "tab", href: "#project", role: "tab"}
          = fa_solid 'sign'
          Projects
      %li.nav-item
        %a#image-tab.nav-link{"aria-controls": "image", "aria-selected": "false", "data-toggle": "tab", href: "#image", role: "tab"}
          = fa_solid 'images'
          Images

    #workshopTabContent.tab-content
      #attendee.tab-pane.fade.show.active{"aria-labelledby": "attendee-tab", role: "tabpanel"}
        = render partial: 'seats', locals: {seats: @workshop.seats.active}
      #project.tab-pane.fade{"aria-labelledby": "project-tab", role: "tabpanel"}
        = render partial: 'admin/projects/list', locals: {projects: @workshop.projects}
      #image.tab-pane.fade{"aria-labelledby": "image-tab", role: "tabpanel"}
        = render partial: 'admin/images/list', locals: {images: @workshop.workshop_images}

