- page_title @workshop.name, 'workshops'

.row
  .col-4
    .card
      %h5.card-header.d-flex.align-items-center.bg-primary.text-white
        = @workshop.name
      .card-body
        .form-group
          %label.col-form-label Description
          .form-control-plaintext= @workshop.description
        .form-group
          %label.col-form-label Scheduled
          .form-control-plaintext= @workshop.when
        %hr
        .form-group
          %label.col-form-label Date available for purchase
          .form-control-plaintext= @workshop.when_purchase
        .form-group
          %label.col-form-label Remaining tickets for sale
          .form-control-plaintext= @workshop.tickets_available
        .form-group
          %label.col-form-label Ticket price
          .form-control-plaintext= number_to_currency(@workshop.ticket_price)
        .form-group
          %label.col-form-label Is this workshop ready for sale?
          .form-control-plaintext= @workshop.is_for_sale
        .form-group
          %label.col-form-label Is a public workshop?
          .form-control-plaintext= @workshop.is_public
      .card-footer
        %a.btn.btn-outline-secondary.btn-sm{href: admin_workshops_path}
          = fa_regular 'arrow-left'
          Search
        %a.btn.btn-primary.btn-sm{href: edit_admin_workshop_path(@workshop)} Edit
        %a.btn.btn-info.btn-sm{href: admin_workshop_path(@workshop)} Clone
  .col-8
    .card
      %h5.card-header.bg-primary.text-white
        = fa_solid 'users'
        Attendees
      = render partial: 'admin/customers/attendees'
    .card.mt-2
      %h5.card-header.bg-primary.text-white
        = fa_solid 'drafting-compass'
        Available Projects
      = render partial: 'admin/workshops/projects'
    .card.mt-2
      %h5.card-header.bg-primary.text-white
        = fa_solid 'images'
        Images
      = render partial: 'admin/images/show'
