- page_title @workshop.name, 'workshops'

.row
  .col-12.col-md-4
    .card
      %h5.card-header.d-flex.align-items-center.bg-primary.text-white
        = @workshop.name
      .card-body
        .form-group
          .form-control-plaintext
            - if @workshop.is_for_sale?
              %span.badge.badge-primary For Sale
            - if @workshop.is_public?
              %span.badge.badge-success Public
              - if @workshop.allow_custom_stencils
                %span.badge.badge-info Custom Stencils
            - else
              %span.badge.badge-warning Private
        .form-group
          %label.col-form-label Description
          .form-control-plaintext= @workshop.description
        .form-group
          %label.col-form-label Scheduled
          .form-control-plaintext= @workshop.when
        %hr
        .form-group
          %label.col-form-label Date available for purchase
          .form-control-plaintext= @workshop.when_purchase
        .form-group
          %label.col-form-label Remaining seats for sale
          .form-control-plaintext= @workshop.seats_available
      .card-footer
        %a.btn.btn-outline-secondary.btn-sm{href: admin_workshops_path}
          = fa_regular 'arrow-left'
          Search
        %a.btn.btn-primary.btn-sm{href: edit_admin_workshop_path(@workshop)} Edit
        = link_to 'New Image', admin_new_workshop_image_path(@workshop), class: 'btn btn-info btn-sm'
        = form_for @workshop, url: admin_workshop_clone_path(@workshop), method: :post do |f|
          = f.hidden_field :id
          = button_tag(type: 'submit', class: 'btn btn-info btn-sm') do
            Clone
  .col-12.col-md-8
    %ul#workshopTab.nav.nav-tabs{role: "tablist"}
      %li.nav-item
        %a#attendee-tab.nav-link.active{"aria-controls": "attendee", "aria-selected": "true", "data-toggle": "tab", href: "#attendee", role: "tab"}
          Attendees
      %li.nav-item
        %a#project-tab.nav-link{"aria-controls": "project", "aria-selected": "false", "data-toggle": "tab", href: "#project", role: "tab"}
          Projects
      %li.nav-item
        %a#image-tab.nav-link{"aria-controls": "image", "aria-selected": "false", "data-toggle": "tab", href: "#image", role: "tab"}
          Images

    #workshopTabContent.tab-content
      #attendee.tab-pane.fade.show.active{"aria-labelledby": "attendee-tab", role: "tabpanel"}
        = render partial: 'seats'
      #project.tab-pane.fade{"aria-labelledby": "project-tab", role: "tabpanel"}
        = render partial: 'projects'
      #image.tab-pane.fade{"aria-labelledby": "image-tab", role: "tabpanel"}
        = render partial: 'admin/images/list', locals: {images: @workshop.workshop_images}

