= f.hidden_field :id
= f.hidden_field :user_id
.form-row
  .form-group.col-6
    = f.label :nickname, class: 'col-form-label'
    = f.text_field :nickname, class: 'form-control'
.form-row
  .form-group.col-6
    = f.label :street, class: 'col-form-label'
    = f.text_field :street, class: 'form-control'
.form-row
  .form-group.col-6
    = f.label :street2, class: 'col-form-label'
    = f.text_field :street2, class: 'form-control'
.form-row
  .form-group.col-3
    = f.label :city, class: 'col-form-label'
    = f.text_field :city, class: 'form-control'
  .form-group.col-2
    = f.label :state, class: 'col-form-label'
    = f.select :state, options_for_select(us_states, @address.state), {}, class: 'form-control custom-select'
  .form-group.col-1
    = f.label :zip_code, class: 'col-form-label'
    = f.text_field :zip_code, class: 'form-control'
.form-group
  .form-check
    = f.check_box :is_default, class: 'form-check-input'
    = f.label :is_default_address_for_billing, class: 'form-check-label'