- content_for :head do
  %meta{name: 'turbo-cache-control', content: 'no-cache'}

= error_messages_for 'seat'

= render(SeatWizard::Component.new(seat: @seat, existing_seat_id: @existing_seat_id)) do |component|
  - component.with(:header) do
    New Seat for #{@seat.reservation.title}

  - component.with(:sidebar_template) do
    .card.card-sticky
      .card-body
        %p.card-text
          = fa_solid 'calendar-exclamation', 'text-primary fa-fw'
          %span= "Selections must be made by #{lifp @seat.reservation.workshop.registration_deadline}"
        %p.card-text
          = fa_solid 'chair', 'text-primary fa-fw'
          - if @seat.reservation.minimum_met?
            %span You can invite a total of #{@reservation.remaining_seats} additional guests
          - else
            %span
              You can invite a total of #{@reservation.remaining_seats} guests but are required to invite at
              least #{@reservation.remaining_seats_until_requirements_met} more to get your deposit back.
        %p.card-text{'data-seat-wizard-sidebar--component-target': 'guestPaymentClause'}
          = fa_solid 'usd-circle', 'text-primary fa-fw'
          - if @seat.reservation.paid_by_host?
            %span Pricing dependent upon guests selection
          - else
            %span Guest will pay for their seat after picking their project
