- page_title @seat.customer.full_name, 'Seats'

.row.align-items-center.justify-content-center
  .col-12.col-lg-6
    .card
      %h3.card-header.bg-primary.text-white
        = "#{@seat.customer.full_name}'s Seat"
      .card-body
        = render partial: 'payment_alerts' if @seat.active? && @seat.reservation.present?
        = render(ItemDescriptionDisplay::Component.linkable(@seat))
      .card-footer
        - if @seat.paid? && @seat.invoice.user_id == current_user.id
          %a.btn.btn-primary.btn-block.mb-2{href: invoice_path(@seat.invoice.id)}
            = fa_solid 'file-invoice'
            View Invoice
        - elsif @seat.editable?(current_user) && @seat.cancelable?
          = render partial: 'seats/cancel', locals: {seat: @seat}
          %a.btn.btn-danger.btn-block{"data-target": "#cancel-seat-#{@seat.id}-modal", "data-toggle": "modal", href: "#"}
            = fa_solid 'ban'
            Cancel seat

        - if @seat.editable?(current_user)
          %a.btn.btn-primary.btn-block.mb-2{href: edit_reservation_seat_path(@seat.reservation, @seat)}
            - if @seat.selection_made?
              Update project or stencil
            - else
              Select project and stencil

        = link_to 'Go Back', :back, class: 'btn btn-secondary btn-block'
