- content_for :header do
  Resend Account Confirmation

= devise_error_messages!
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: '' }) do |f|
  .form-group
    %label Email Address
    .input-group
      .input-group-prepend
        %span.input-group-text
          = fa_solid 'lock-alt'
      = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', placeholder: 'name@address.com'

  .form-group
    = f.submit 'Resend', class: 'btn btn-teal btn-block btn-login'

  .text-center
    Already have an account?
    = link_to 'Sign in', new_session_path(resource_name), class: 'link-teal'
    %br
    - if devise_mapping.registerable?
      Don't have an account yet?
      = link_to 'Sign up', new_registration_path(resource_name), class: 'link-teal'
      %br
