%h3= "#{@customer.first_name} #{@customer.last_name},"

%p
  = "Someone has purchased a Sign Junkie gift card for you in the amount of #{number_to_currency @gift.nontaxable_amount}!"
  Follow the link below to sign up and register. We can’t wait for you to join us and get your diy on!