%h3= "#{@invoice.customer.full_name},"
%p Thanks for placing your order! We can't wait for you to join us and get your diy on!

%table{style: 'width: 100%; border-collapse: collapse;'}
  %thead
    %tr
      %th{colspan: 3, style: 'border-bottom: 1px solid black; padding-bottom: 10px;'}
        = "Order ##{@invoice.identifier} Receipt"
  %tbody
    - @invoice.items.each do |item|
      %tr
        %td{style: 'padding-bottom: 5px; border-bottom: 1px solid black;'}
          - if item.gift_card?
            %h4= item.title
            = "#{item.first_name} #{item.last_name}"
          - else
            %h4.card-title= item.title
            = item.workshop.when
            - if item.gifted_seat?
              %br
              = "#{item.first_name} #{item.last_name}"
            - if item.seat_preference.present?
              %br
              = item.seat_preference
            %br
            = item.project_name
            %br
            = item.stencil_name
            - if item.stencil_personalization.present?
              %br
              = item.stencil_personalization
            - if item.addon_id.present?
              %br
              = item.addon_name
        %th{style: 'padding: 5px; border-bottom: 1px solid black; text-align: right;'}
          = number_to_currency(item.item_amount)
  %tfoot
    - if @invoice.taxed?
      %tr
        %th{style: 'text-align: right; padding: 10px;'}
          Sales Tax
        %th{style: 'text-align: right; padding: 10px;'}
          = number_to_currency(@invoice.tax_total)
    %tr
      %th{style: 'text-align: right; padding: 0px 10px 5px 10px;'}
        Total
      %th{style: 'text-align: right; padding: 0px 10px 5px 10px;'}
        = number_to_currency(@invoice.grand_total)
