= error_messages_for 'order'

.card
  %h4.card-header.bg-primary.text-white
    = fa_regular 'shopping-cart'
    Shopping Cart
  - if @cart.any?
    %table.table.table-bordered.table-striped.table-border-fix
      %thead
        %tr.bg-primary.text-white
          %th{colspan: 2} Event
          %th Quantity
          %th.text-right Price
      %tbody
        - @cart.each do |c|
          %tr
            %td
              %a{href: event_path(c.event)}
                %h3= c.event.name
              %p.text-muted= c.event.when
            %td.action-column
              = link_to 'Remove', cart_path(c), method: :delete, class: 'btn btn-outline-danger btn-sm btn-block', data: {confirm: 'Are you sure want to remove this item from your cart?'}
            %td.action-column
              = form_for c, url: cart_path(c), method: :patch do |f|
                = f.hidden_field :id
                = f.select(:quantity, options_for_select(((1..10).map { |i| [i,i] }), c.quantity), {}, { class: 'custom-select', 'data-js-cart-quantity': '', 'data-cart-id': c.id, 'data-price': c.event.ticket_price, })
            %td.action-column.text-right.text-primary
              = content_tag :span, number_to_currency(c.amount), id: "amt-#{c.id}"
      %tfoot
        %tr
          %td.text-right.text-primary{colspan: 4}
            %strong= content_tag :span, number_to_currency(@cart.map(&:amount).inject(0, :+)), id: "total-amt"
    .card-footer
      = form_for :order, url: orders_path do |f|
        = f.hidden_field :user_id, value: current_user.id
        = button_tag(type: 'submit', class: 'btn btn-success float-right') do
          Check out
          = fa_regular 'money-bill'
  - else
    .card-body
      You haven't added anything to your cart yet!