= error_messages_for 'order'

.card
  %h4.card-header.bg-primary.text-white
    = fa_regular 'shopping-cart'
    Shopping Cart
  - if @cart.any?
    %table.table.table-bordered.table-striped.table-border-fix
      %thead
        %tr.bg-primary.text-white
          %th{colspan: 2} Workshop
          %th Quantity
          %th.text-right Price
      %tbody
        - @cart.each do |c|
          %tr
            %td.action-column
              - if c.workshop.images.any?
                %img{alt: "Image of #{c.workshop.name}", src: url_for(c.workshop.primary_image.variant(resize: "100x100"))}
            %td
              %a{href: workshop_path(c.workshop)}
                %h4= c.display
              %p= c.workshop.when
              - if c.workshop.is_private?
                .card-text.text-info Deposit fee will be added during checkout
              = link_to 'Remove', cart_path(c), method: :delete, class: 'btn btn-outline-danger btn-sm', data: {confirm: 'Are you sure want to remove this item from your cart?'}
            %td.action-column
              = form_for c, url: cart_path(c), method: :patch do |f|
                = f.hidden_field :id
                = cart_dropdown f, c
            %td.action-column.text-right.text-primary
              = content_tag :span, number_to_currency(c.amount), id: "amt-#{c.id}"
      %tfoot
        %tr
          %td.text-primary.text-right{colspan: 4}
            %strong
              Subtotal:
              = content_tag :span, number_to_currency(@cart.map(&:amount).inject(0, :+)), id: "total-amt"
    .card-footer
      = link_to new_order_path, class: 'btn btn-success float-right', id: 'checkout-button' do
        Proceed to Checkout
        = fa_regular 'money-bill'
      %button.btn.btn-success.float-right{disabled: "disabled", type: "button", id: 'checkout-loading', style: 'display:none;'}
        %span.spinner-border.spinner-border-sm{"aria-hidden":"true", role: "status"}
        Loading...

  - else
    .card-body
      You haven't added anything to your cart yet!
