- page_title 'Edit', @event.name, 'events'

= form_for @event, url: admin_event_path(@event), method: :patch do |f|
  .card
    %h5.card-header.bg-primary.text-white
      Edit Event
    .card-body
      = error_messages_for 'event'
      = render partial: 'admin/events/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_event_path(@event), class: 'btn btn-outline-secondary'
      = f.submit 'Save', class: 'btn btn-success'
