- page_title 'Event Search'

.card
  %h5.card-header.bg-primary.text-white
    = fa_regular 'sitemap'
    Events
  %table.table.table-bordered.table-striped.table-hover.table-border-fix
    %thead
      %tr
        %th Name
        %th Date
        %th Tickets Available
    %tbody
      - @events.each do |e|
        %tr{data: { 'clickable-row': '', 'href': admin_event_path(e) }}
          %td= e.name
          %td= e.when
          %td= e.tickets_available
  .card-footer
    = paginate @events
    = page_entries_info @events
%br
= link_to 'New Event', new_admin_event_path, class: 'btn btn-primary'
