%table.table.table-striped.table-bordered.table-border-fix
  %thead
    %tr.bg-primary.text-white
      %th EVENTS
      %th.action-column PRICE
      %th.action-column QUANTITY
      %th.action-column.text-right AMOUNT
  %tbody
    - @order.items.each do |i|
      %tr
        %td= i.name
        %td= number_to_currency(i.price)
        %td= i.quantity
        %td.text-right= number_to_currency(i.item_total)
  %thead
    - if @order.taxed?
      %tr
        %td.text-right{colspan: 3}
          %strong= "SALES TAX (#{@order.tax_percentage}%)"
        %td.text-right= number_to_currency(@order.total_tax)
    %tr.bg-primary.text-white
      %th{colspan: 3} PAYMENTS
      %th.action-column.text-right AMOUNT

  %tbody
    - @order.payments.each do |p|
      %tr
        %td{colspan: 3}
          %pre= "Method: #{p.method}\nProcessed on: #{l p.date_posted, format: :short}\nTransaction ID: #{p.transaction_id}"
        %td.text-right= number_to_currency(p.amount)
  %tfoot
    %tr.bg-primary.text-white
      %td.text-right{colspan: 3}
        %strong BALANCE
        %td.text-right= number_to_currency(@order.total_balance)