.card
  %h4.card-header.bg-primary.text-white
    = fa_solid 'shopping-bag'
    Summary
  .table-responsive-md
    %table.table.table-striped.table-bordered.table-border-fix
      %tbody
        %tr
          - @invoice.items.each do |i|
            %tr
              %td
                = i.description.title
              %td.text-right.action-column
                %strong= number_to_currency(i.pre_tax_total)
            - if @invoice.taxed?
              %tr
                %td Sales Tax
                %td.text-right.action-column
                  %strong#order_total_tax= number_to_currency(@invoice.tax_total)
      %tfoot
        %tr.bg-primary.text-white
          %td Total
          %td.text-right
            %strong#order_total_due= number_to_currency(@invoice.grand_total)
