.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        = fa_solid 'file-invoice'
        My Orders

%table.table.table-bordered.table-striped
  %thead.bg-primary.text-white
    %tr
      %th Number
      %th Date
      %th Status
  %tbody
    - @invoices.each do |o|
      %tr{data: { 'clickable-row': '', 'href': invoice_path(o) }}
        %td= o.identifier
        %td= lifp(o.created_at, :short)
        %td= o.status
  %tfoot
    %tr
      %td{colspan: '100%'}
        = paginate @invoices
        = page_entries_info @invoices, entry_name: 'order'
