= form_for @invoice, url: invoices_path,
                    html: {'data-controller': 'checkout',
                    'data-checkout-client-token-value': "#{@client_token}",
                    'data-checkout-purchase-amount-value': "#{@invoice.grand_total}"} do |f|
  .row
    .col-12.col-lg-8
      .card.card-primary.mb-2
        %h3.card-header.bg-primary.text-white
          Select your payment method
        = render partial: 'invoices/form', locals: { f: f }
    .col-12.col-lg-4
      .card
        %h3.card-header.bg-primary.text-white Summary
        .card-body
          - @invoice.items.each do |i|
            .media.align-items-center.mb-3
              .font-size-1.font-weight-normal.mb-0.mr-3= i.title
              .media-body.text-right
                %span.font-weight-medium= number_to_currency(i.item_amount)
          .media.align-items-center.mb-3
            .font-size-1.font-weight-normal.mb-0.mr-3 Sales Tax
            .media-body.text-right
              %span.font-weight-medium
                - if @invoice.tax_total.positive?
                  = number_to_currency @invoice.tax_total
                - else
                  .span --
          .media.align-items-center
            .font-size-1.font-weight-normal.mb-0.mr-3 Total
            .media-body.text-right
              %span.font-weight-medium
                = content_tag :span, number_to_currency(@invoice.balance)
