.row
  .col-md-3
    .card.card-primary
      %h4.card-header.bg-primary.text-white
        = fa_regular 'shopping-bag'
        = "Order ##{@invoice.identifier}"
      .card-body
        .form-group
          %label.col-form-label Date Placed
          .form-control-plaintext= lifp(@invoice.created_at, :short)
      .card-footer
        = link_to 'Go Back', invoices_path, class: 'btn btn-outline-secondary'
  .col-md-9
    = render partial: 'summary'

