= render partial: 'cancel'

.row
  .col-12.col-md-9.mb-2
    .card
      %h4.card-header.bg-primary.text-white
        = fa_solid 'shopping-bag'
        = "Order ##{@invoice.identifier}"
      %ul.list-group
        - @invoice.items.each do |i|
          %li.list-group-item
            .row
              .col-8.mb-3.mb-md-0
                = render partial: 'item_descriptions/show', locals: {item: i}
              .col-4.text-right
                %span.font-weight-medium
                  = content_tag :span, number_to_currency(i.item_amount), id: "amt-#{i.id}"
    .card.mt-2
      %h5.card-header.bg-primary.text-white
        Payments
      %ul.list-group
        - @invoice.payments.each do |i|
          %li.list-group-item
            .row
              .col-8.mb-3.mb-md-0
                .media
                  .media-body
                    %h6.card-title= lifp i.created_at
                    .font-size-1.mb-1{title: 'Payment method'}
                    - if i.gift_card?
                      = fa_solid 'gift-card', 'text-primary fa-fw'
                      Gift Card
                    - else
                      = fa_solid 'credit-card', 'text-primary fa-fw'
                      Credit Card
              .col-4.text-right
                %span.font-weight-medium
                  = content_tag :span, number_to_currency(i.amount)
    - if @invoice.refunds.any?
      .card.mt-2
        %h5.card-header.bg-primary.text-white
          Refunds
        %ul.list-group
          - @invoice.refunds.each do |i|
            %li.list-group-item
              .row
                .col-8
                  %h6.card-title= lifp i.created_at
                .col-4.text-right
                  %span.font-weight-medium
                    = content_tag :span, number_to_currency(i.amount)
  .col-12.col-md-3
    .card
      %h4.card-header.bg-primary.text-white Order summary
      .card-body
        .form-group
          %label.col-form-label Date Placed
          .form-control-plaintext= lifp(@invoice.created_at, :short)
        %hr
        .media.align-items-center.mb-3.mt-3
          .font-size-1.font-weight-normal.mb-0.mr-3 Sales tax
          .media-body.text-right
            %span.font-weight-medium
              - if @invoice.tax_total.positive?
                = number_to_currency @invoice.tax_total
              - else
                .span --
        .media.align-items-center.mb-4
          .font-size-1.font-weight-normal.mb-0.mr-3 Total
          .media-body.text-right
            %span.font-weight-medium
              - if @invoice.grand_total.positive?
                = number_to_currency @invoice.grand_total
              - else
                .span --
      - if @invoice.items.any? { |i| i.refundable? }
        .card-footer
          %a.btn.btn-outline-danger.btn-block{"data-target": "#cancelOrderModal", "data-toggle": "modal", href: "#"}
            = fa_solid 'ban'
            Cancel Order
