- page_title 'Edit', 'Stencils'

= form_for @design, url: admin_design_path(@design), method: :patch do |f|
  .card
    %h5.card-header.bg-primary.text-white
      Edit Stencil
    .card-body
      = error_messages_for 'design'
      = render partial: 'admin/designs/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_designs_path, class: 'btn btn-outline-secondary'
      = f.submit 'Create', class: 'btn btn-success'
