- page_title 'New', 'Project Designs'

= form_for @design, url: admin_designs_path do |f|
  .card
    %h5.card-header.bg-primary.text-white New Project Design
    .card-body
      = error_messages_for 'design'
      = render partial: 'admin/designs/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_designs_path, class: 'btn btn-outline-secondary'
      = f.submit 'Create', class: 'btn btn-success'
