- page_title 'Project Customizations Search'

.card
  %h5.card-header.bg-primary.text-white
    = fa_regular 'swatchbook'
    Project Customizations
  %table.table.table-bordered.table-striped.table-hover.table-border-fix
    %thead
      %tr
        %th Name
        %th Category
    %tbody
      - @customizations.each do |c|
        %tr{data: { 'clickable-row': '', 'href': edit_admin_customization_path(c) }}
          %td= c.name
          %td= c.category
  .card-footer
    = paginate @customizations
    = page_entries_info @customizations
%br
= link_to 'New Customization', new_admin_customization_path, class: 'btn btn-primary'
