.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2
    = fa_solid 'info-circle'
    = "About #{SystemInfo::app_name}"
.row
  .col-12.col-md-6
    .form-group.row
      %label.col-sm-3.col-form-label Release
      .col-sm-9
        = SystemInfo.release
        - if SystemInfo.prerelease?
          %span.badge.badge-danger.badge-pill.ml-3 PRE-RELEASE
    .form-group.row
      %label.col-sm-3.col-form-label Licensed To
      .col-sm-9
        %a{href: 'https://www.signjunkieworkshop.com'}= ClientInfo.owner
    .form-group.row
      %label.col-sm-3.col-form-label Developed By
      .col-sm-9
        %a{href: SystemInfo.developer_url}= SystemInfo.developer
        %br= "\u00A9 Copyright #{Date.today.year}"
        Made with
        = fa_solid 'heart', 'text-warning'
        in Ohio
    - if current_user.operator?
      %hr
      .form-group.row
        .col
          %strong Instance
          %pre= EnvironmentInfo.instance
  .col-12.col-md-6
    %h3 Release Notes
    = raw @markdown
