- page_title 'About'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle #{SystemInfo.app_name}
        %h1.header-title
          %i.fad.fa-info-circle
          About
      .col-auto
        %a.btn.btn-primary{href: SystemInfo.support_url}
          = fa_solid 'question-circle'
          Help
        %a.btn.btn-primary{href: "mailto:#{SystemInfo.support_mail}"}
          = fa_solid 'life-ring'
          Contact Support

.row
  .col-12
    .form-group.row
      %label.col-sm-2.col-form-label Release
      .col-sm-10.mt-3
        = SystemInfo.release
        - if SystemInfo.prerelease?
          %span.badge.badge-warning.badge-pill.ml-3 PRE-RELEASE
    .form-group.row
      %label.col-sm-2.col-form-label Developed By
      .col-sm-10
        %a{href: SystemInfo.developer_url}= SystemInfo.developer
    .form-group.row
      %label.col-sm-2.col-form-label Licensed To
      .col-sm-10
        %a{href: SignJunkie.env_url}= ClientInfo.owner
.row
  .col-12
    %h3 Release Notes
    = raw @markdown
