- page_title 'Dashboard'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle= welcome_message
        %h1.header-title
          %i.fad.fa-home
          Home Dashboard
      - unless Rails.env.production?
        .col-auto
          = form_for :data, url: admin_demo_data_path do |f|
            %button.btn.btn-info{type: 'submit'}
              = fa_solid 'database', 'fa-fw'
              Generate Sample Data

.row
  .col-12.col-lg-6.col-xl
    .card
      .card-body
        .row.align-items-center
          .col
            %h6.card-title.text-uppercase.text-muted.mb-2
              Customers
            %span.h2.mb-0= @stats.total_customers
            %span.badge.badge-soft-primary.mt-n1= "+ #{@stats.new_customers} last 24/hrs"
          .col-auto
            = fa_solid 'address-book', 'h2 text-muted mb-0'
  .col-12.col-lg-6.col-xl
    .card
      .card-body
        .row.align-items-center
          .col
            %h6.card-title.text-uppercase.text-muted.mb-2
              Invoices
            %span.h2.mb-0= @stats.total_invoices
            %span.badge.badge-soft-primary.mt-n1= "+ #{@stats.recent_invoices.count} last 24/hrs"
          .col-auto
            = fa_solid 'file-invoice-dollar', 'h2 text-muted mb-0'
  .col-12.col-lg-6.col-xl
    .card
      .card-body
        .row.align-items-center
          .col
            %h6.card-title.text-uppercase.text-muted.mb-2
              Sales today
            %span.h2.mb-0
              = number_to_currency @stats.sales_today
          .col-auto
            = fa_solid 'dollar-sign', 'h2 text-muted mb-0'
  .col-12.col-lg-6.col-xl
    .card
      .card-body
        .row.align-items-center
          .col
            %h6.card-title.text-uppercase.text-muted.mb-2
              Refunds today
            %span.h2.mb-0
              = number_to_currency @stats.refunds_today
          .col-auto
            = fa_solid 'gift-card', 'h2 text-muted mb-0'
.row
  .col-12.col-xl-7
    .card
      .card-header
        .row.align-items-center
          .col
            %h4.card-header-title
              %i.fad.fa-toolbox
              Upcoming Workshops
          .col-auto
            %a.small{:href => admin_workshops_path} View all
      .table-responsive.mb-0
        %table.table.table-sm.table-nowrap.card-table.table-hover
          %thead
            %tr
              %th
                Name
              %th
                Date
              %th
                Seating Availability
          %tbody
            - @stats.upcoming_workshops.each do |w|
              %tr
                %td
                  - if w.workshop_images.any?
                    .avatar.avatar-sm.d-inline-block.mr-2{}
                      %img.avatar-img.rounded-circle{:alt => "Image of #{w.name}", :src => url_for(w.workshop_images.first)}
                  - else
                    .avatar.avatar-sm.d-inline-block.mr-2{}
                      %img.avatar-img.rounded-circle{:alt => 'Placeholder image', :src => asset_path("cover.jpg")}
                  %span= link_to w.name, admin_workshop_path(w)
                %td
                  = w.when
                %td
                  .row.align-items-center.no-gutters
                    .col-auto
                      %span.mr-2= "#{w.seats_available}/#{w.total_seats}"
                    .col
                      .progress.progress-sm
                        = render partial: 'admin/workshops/availability_bar', locals: { value: w.seating_availability }
  .col-12.col-xl-5
    .card
      .card-header
        .row.align-items-center
          .col
            %h4.card-header-title
              %i.fad.fa-file-invoice
              Recent Invoices
          .col-auto
            %a.small{:href => admin_invoices_path} View all
      = render partial: 'admin/invoices/list', locals: { invoices: @stats.recent_invoices.order(created_at: :desc) }

    .card
      .card-header
        .row.align-items-center
          .col
            %h4.card-header-title
              %i.fad.fa-shopping-cart
              Abandoned Carts
      - unless @stats.abandoned_carts.any?
        .card-footer
          .text-muted No carts have been abandoned
      - else
        .table-responsive.mb-0
          %table.table.table-sm.table-nowrap.card-table.table-hover
            %thead
              %tr
                %th Customer
                %th Number of Items
            %tbody
              - @stats.abandoned_carts.each do |o|
                %tr
                  %td= link_to o.full_name, admin_customer_path(o)
                  %td= o.carts.count
