- page_title 'Stencil Category Search'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Stencil Categories
        %h1.header-title
          %i.fad.fa-swatchbook
          Search
      .col-auto
        = link_to 'New Stencil Category', new_admin_stencil_category_path, class: 'btn btn-primary lift'

.card
  .card-header
    = search_form_for(@q, url: admin_stencil_categories_path) do |f|
      .row.align-items-center
        .col
          .input-group.input-group-flush
            .input-group-prepend
              %span.input-group-text
                %i.fas.fa-search
            = f.search_field :name_cont, class: 'form-control list-search', placeholder: 'Search'
        .col-auto.mr-n3
          = f.submit 'Search', class: 'btn btn-white'
  .table-responsive
    %table.table.card-table.table-striped
      %thead
        %tr
          %th Name
      %tbody
        - @categories.each do |c|
          %tr
            %td= link_to c.name, edit_admin_stencil_category_path(c)
      %tfoot
        %tr
          %td{colspan: '100%'}
            = paginate @categories
            = page_entries_info @categories
