- page_title 'New', 'stencil Categories'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Stencil Categories
        %h1.header-title
          %i.fad.fa-swatchbook
          New Category

= form_for @category, url: admin_stencil_categories_path do |f|
  .card
    .card-header
      %h5.card-header-title New stencil Category
    .card-body
      = error_messages_for 'category'
      = render partial: 'admin/stencil_categories/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_stencil_categories_path, class: 'btn btn-outline-secondary'
      = f.submit 'Create', class: 'btn btn-success'
