%table.table.table-striped.table-bordered.table-border-fix
  %thead
    %tr.bg-primary.text-white
      %th DETAIL
      %th.action-column PRICE
      %th.action-column TAX
      %th.action-column.text-right TOTAL
  %tbody
    - @invoice.items.each do |i|
      %tr
        %td
          = render(ItemDescriptionDisplay::Component.admin(i))}
        %td.text-right
          = number_to_currency(i.item_amount)
        %td.text-right
          - if i.taxed?
            = number_to_currency(i.tax_amount)
          - else
            %span.font-weight-medium --
        %td.text-right= number_to_currency(i.line_total)
  %tfoot
    %tr.bg-primary.text-white
      %td.text-right{colspan: 3}
        %strong BALANCE
      %td.text-right= number_to_currency(@invoice.balance)
