%label Role
.custom-control.custom-radio
  = f.radio_button :role, 'customer', class: 'custom-control-input'
  = f.label :role, value: 'customer', class: 'custom-control-label' do
    %h4
      = fa_solid 'user'
      Customer
      %br
      %small.text-muted
        Add events to cart, checkout, and pay for orders

.custom-control.custom-radio
  = f.radio_button :role, 'employee', class: 'custom-control-input'
  = f.label :role, value: 'employee', class: 'custom-control-label' do
    %h4
      = fa_solid 'user-tie'
      Employee
      %br
      %small.text-muted
        Customer Permissions + Admin Protal access to view customers, events, gift certificates, and orders

.custom-control.custom-radio
  = f.radio_button :role, 'admin', class: 'custom-control-input'
  = f.label :role, value: 'admin', class: 'custom-control-label' do
    %h4
      = fa_solid 'user-crown'
      Administrator
      %br
      %small.text-muted
        Employee Permissions + editing abilities, data history and reports

.custom-control.custom-radio
  - if current_user.may_upgrade_operator?
    = f.radio_button :role, 'operator', class: 'custom-control-input'
  - else
    = f.radio_button :role, 'operator', class: 'custom-control-input', 'disabled': 'disabled'
  = f.label :role, value: 'operator', class: 'custom-control-label' do
    %h4
      = fa_solid 'user-cog'
      IT Operator
      %br
      %small.text-muted
        Administrator Permissions + system maintenance
