- page_title 'Edit', 'Employee'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Employees
        %h1.header-title
          %i.fad.fa-users
          Edit Employee
      .col-auto

= form_for @employee, url: admin_employee_path(@employee), method: :patch do |f|
  .card
    .card-body
      = error_messages_for 'employee'
      = render partial: 'admin/employees/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_employee_path(@employee), class: 'btn btn-outline-secondary'
      = f.submit 'Save', class: 'btn btn-success'
