- page_title 'Employee Search'

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2
    = fa_solid 'users-class'
    Employees

.table-responsive
  %table.table.table-bordered.table-striped.table-hover
    %thead.thead-gray
      %tr
        %th First Name
        %th Last Name
        %th Role
    %tbody
      - @employees.each do |e|
        %tr{data: { 'clickable-row': '', 'href': admin_employee_path(e) }}
          %td= e.first_name
          %td= e.last_name
          %td= e.role
    %tfoot
      %tr
        %td{colspan: '100%'}
          = paginate @employees
          = page_entries_info @employees
%br
= link_to 'New Employee', new_admin_employee_path, class: 'btn btn-primary'
