- page_title 'New', 'Employee'
.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Employees
        %h1.header-title
          %i.fad.fa-users
          New Employee

= form_for @employee, url: admin_employees_path do |f|
  .card
    .card-body
      = error_messages_for 'employee'
      = render partial: 'admin/employees/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_employees_path, class: 'btn btn-outline-secondary'
      = f.submit 'Create', class: 'btn btn-success'
