- page_title 'New', 'Employee'

= form_for @employee, url: admin_employees_path do |f|
  .card
    %h5.card-header.bg-primary.text-white
      New Employee
    .card-body
      %h3 Personal Information
      = error_messages_for 'employee'
      = render partial: 'admin/employees/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_employees_path, class: 'btn btn-outline-secondary'
      = f.submit 'Create', class: 'btn btn-success'
