.row
  .col
    .card
      .card-body
        = error_messages_for 'tax_rate'
        = f.hidden_field :id
        .form-group
          = f.label :effective_date, class: 'col-form-label'
          = f.datetime_field :effective_date, class: 'form-control'
        .form-group
          = f.label :rate, class: 'col-form-label'
          .input-group
            = f.text_field :rate, class: 'form-control', value: @tax_rate.display
            .input-group-append
              %span.input-group-text= fa_regular 'percent'
