- page_title 'Tax Rates'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Tax Rates
        %h1.header-title
          %i.fad.fa-percent
          Search
      .col-auto
        = link_to 'New Tax Rate', new_admin_tax_rate_path, class: 'btn btn-primary lift'

.card
  %table.table.table-striped.border-bottom.card-table
    %thead
      %tr
        %th Rate
        %th= sort_link(@q, :start_date)
    %tbody
      - @tax_rates.each do |tax_rate|
        %tr
          %td= link_to number_to_percentage(tax_rate.rate * 100), admin_tax_rate_path(tax_rate)
          %td= tax_rate.effective_date
    %tfoot
      %tr
        %td{colspan: '100%'}
          = paginate @tax_rates
          = page_entries_info @tax_rates
