.card.mt-2
  %h5.card-header.bg-primary.text-white
    = fa_solid 'users'
    Attendees
  - unless @workshop.order_items.any?
    .card-body
      .text-muted No customers have RSVPd to this workshop yet.
  - else
    %table.table.table-bordered.table-striped.table-border-fix
      %thead
        %tr
          %th Name
          %th Project
          %th Libality Waiver
      %tbody
        - @workshop.order_items.each do |a|
          %tr
            %td
              - if a.attendee.present?
                = a.attendee
                = a.email
              - else
                .text-muted No yet entered
            %td= a.description
            %td.text-danger
              = fa_solid 'times'
              Not signed

