= f.hidden_field :id
.row
  .col
    .form-row
      .form-group.col-12.col-md-6
        = f.label :first_name, class: 'col-form-label'
        = f.text_field :first_name, class: 'form-control'
      .form-group.col-12.col-md-6
        = f.label :last, class: 'col-form-label'
        = f.text_field :last_name, class: 'form-control'
    .form-row
      .form-group.col
        = f.label :email, class: 'col-form-label'
        = f.text_field :email, class: 'form-control'
  .col
    .form-row
      .form-group
        = render partial: 'admin/employees/user_role', locals: { f: f }
