- page_title 'Edit', 'Customer'

= form_for @customer, url: admin_customer_path(@customer), method: :patch do |f|
  .card
    %h5.card-header.bg-primary.text-white
      Edit Customer
    .card-body
      = error_messages_for 'customer'
      = render partial: 'admin/customers/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_customer_path(@customer), class: 'btn btn-outline-secondary'
      = f.submit 'Save', class: 'btn btn-success'
