- page_title 'New', 'Customer'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Customers
        %h1.header-title
          %i.fad.fa-address-book
          New Customer

= form_for @customer, url: admin_customers_path do |f|
  .card
    .card-body
      = error_messages_for 'customer'
      = render partial: 'admin/customers/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_customers_path, class: 'btn btn-outline-secondary'
      = f.submit 'Create', class: 'btn btn-success'
