- page_title @customer.full_name, 'Customers'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Customers
        %h1.header-title
          %i.fad.fa-address-book
          = @customer.full_name
      .col-auto
        .btn-group
          %a.btn.btn-white.lift{href: admin_customers_path}
            = fa_regular 'arrow-left'
            Back to Search
          %button.btn.btn-primary.dropdown-toggle.lift{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_regular 'plus'
            New
          .dropdown-menu
            %a.dropdown-item{href: new_admin_customer_credit_path(@customer)} Credit
        %a.btn.btn-primary.lift{href: edit_admin_customer_path(@customer)} Edit
      - if @customer.carts.any?
        = form_for :seat, url: remind_cart_admin_customer_path(@customer) do |f|
          = f.hidden_field :id, value: @customer.id
          %button.btn.btn-info{type: 'submit'}
            = fa_duo 'shopping-cart', 'fa-fw'
            Send Cart Reminder

.row
  .col-12.col-lg-4
    .card.mb-2
      .card-header
        .row.align-items-center
          .col
            %h3.card-header-title
              Overview
          .col-auto
            %span.badge{class: status_badge_class(@customer)}= @customer.status[:title]
      .card-body
        .row.align-items-center
          .col
            %h5.mb-0
              = fa_duo 'envelope'
              Email
          .col-auto
            %small.text-muted
              %a{href: "mailto:#{@customer.email}"}= @customer.email
        %hr
        .row.align-items-center
          .col
            %h5.mb-0
              = fa_duo 'shield'
              = status_date_title @customer
          .col-auto
            %small.text-muted= lifp @customer.status[:date]
        %hr
        .row.align-items-center
          .col
            %h5.mb-0
              = fa_duo 'hammer-war'
              Failed Login Attempts
          .col-auto
            %small.text-muted= @customer.failed_attempts

  .col-12.col-lg-8
    %ul#customerTab.nav.nav-tabs.mb-2{role: "tablist"}
      %li.nav-item
        %a#workshop-tab.nav-link.active{"aria-controls": "attendee", "aria-selected": "true", "data-toggle": "tab", href: "#workshop", role: "tab"}
          = fa_solid 'chair'
          Workshops
      %li.nav-item
        %a#credit-tab.nav-link{"aria-controls": "credit", "aria-selected": "false", "data-toggle": "tab", href: "#credit", role: "tab"}
          = fa_solid 'gift-card'
          Credits
      %li.nav-item
        %a#email-tab.nav-link{"aria-controls": "email", "aria-selected": "false", "data-toggle": "tab", href: "#email", role: "tab"}
          = fa_solid 'envelope'
          Emails
      %li.nav-item
        %a#project-tab.nav-link{"aria-controls": "project", "aria-selected": "false", "data-toggle": "tab", href: "#project", role: "tab"}
          = fa_solid 'file-invoice-dollar'
          Invoices
      %li.nav-item
        %a#cart-tab.nav-link{"aria-controls": "cart", "aria-selected": "false", "data-toggle": "tab", href: "#cart", role: "tab"}
          = fa_solid 'shopping-cart'
          Shopping Cart

    #workshopTabContent.tab-content
      #workshop.tab-pane.fade.show.active{"aria-labelledby": "attendee-tab", role: "tabpanel"}
        = render partial: 'admin/reservations/customer_list', locals: { reservations: @customer.reservations.order(created_at: :desc) }
        = render partial: 'admin/seats/customer_list', locals: { seats: @customer.seats.order(created_at: :desc) }
      #project.tab-pane.fade{"aria-labelledby": "project-tab", role: "tabpanel"}
        .card
          = render partial: 'admin/invoices/list', locals: { invoices: @customer.invoices.order(created_at: :desc) }
      #credit.tab-pane.fade{"aria-labelledby": "credit-tab", role: "tabpanel"}
        = render partial: 'admin/customer_credits/list', locals: { credits: @customer.credits.with_balance.order(created_at: :desc) }
      #cart.tab-pane.fade{"aria-labelledby": "cart-tab", role: "tabpanel"}
        = render partial: 'cart', locals: { carts: @customer.carts.order(created_at: :desc) }
      #email.tab-pane.fade{"aria-labelledby": "email-tab", role: "tabpanel"}
        = render partial: 'email_log', locals: { emails: @customer.email_logs.order(created_at: :desc) }
