- page_title @customer.full_name, 'Customers'

= render partial: 'admin/customers/header'

.row
  .col-4
    .card
      %h5.card-header.bg-primary.text-white
        = @customer.full_name
      %table.table.table-border-fix.table-sm
        %tbody
          %tr
            %td
              = fa_regular 'envelope'
              %strong Email
            %td
              %a{href: "mailto:#{@customer.email}"}= @customer.email

  .col-8
    .card
      %h5.card-header.bg-primary.text-white
        = fa_solid 'file-invoice-dollar'
        Invoices
      = render partial: 'admin/invoices/list'

    .card.mt-3
      %h5.card-header.bg-primary.text-white
        = fa_solid 'gift-card'
        Credits
      = render partial: 'admin/customer_credits/list'
