.row
  .col-5
    = form_for @order, url: admin_order_path(@order), method: :patch do |f|
      .card.card-primary
        %h5.card-header.bg-primary.text-white
          = fa_light 'shopping-bag'
          = "Order ##{@order.order_number}"
        .card-body
          .form-group
            %label Date Created
            #placedpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
              = f.text_field :date_created, value: lifp(@order.date_placed), class: 'form-control', disabled: 'disabled'
              .input-group-append
                .input-group-text
                  = fa_regular 'calendar'
          .form-group
            %label Date Placed
            #placedpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
              = f.text_field :date_placed, value: lifp(@order.date_placed), class: 'form-control datetimepicker-input', 'data-target': '#placedpicker'
              .input-group-append{"data-target" => "#placedpicker", "data-toggle" => "datetimepicker"}
                .input-group-text
                  = fa_regular 'calendar'

          .form-group
            %label Date Canceled
            #canceledpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
              = f.text_field :date_canceled, value: lifp(@order.date_canceled), class: 'form-control datetimepicker-input', 'data-target': '#canceledpicker'
              .input-group-append{"data-target" => "#canceledpicker", "data-toggle" => "datetimepicker"}
                .input-group-text
                  = fa_regular 'calendar'

          %h5.text-primary Billing

          .form-group
            %label Address
            = f.select(:address_id,
              @addresses.collect { |r| [ r[:nickname], r[:id] ] },
              { include_blank: ' - Select - ' },
              { class: 'custom-select', 'data-js-address': '' })

          .form-group
            %label Payment Method
            .custom-control.custom-radio
              = f.radio_button :payment_method, 'card', class: 'custom-control-input', disabled: 'disabled'
              = f.label :payment_method, value: 'card', class: 'custom-control-label' do
                = fa_light 'credit-card-front'
                Card
            .custom-control.custom-radio
              = f.radio_button :payment_method, 'paypal', class: 'custom-control-input', disabled: 'disabled'
              = f.label :payment_method, value: 'paypal', class: 'custom-control-label' do
                = fa_brands 'paypal'
                PayPal
        .card-footer
          = link_to 'Go Back', admin_order_path(@order), class: 'btn btn-outline-secondary btn-block'
          = button_tag(type: 'submit', class: 'btn btn-outline-success btn-block') do
            Save Changes
  .col-7
    = error_messages_for 'order'

    .card
      %h5.card-header.bg-primary.text-white
        = fa_light 'clipboard-list'
        Details
      .table-responsive-md
        = render :partial => 'admin/order_items/show'
