- page_title 'Order Search'

.card
  %h5.card-header.bg-primary.text-white
    = fa_regular 'shopping-bag'
    Orders
  %table.table.table-bordered.table-striped.table-border-fix
    %thead
      %tr
        %th Number
        %th Customer
        %th Date
        %th Status
    %tbody
      - @orders.each do |o|
        %tr{data: { 'clickable-row': '', 'href': admin_order_path(o) }}
          %td= o.order_number
          %td= o.customer.full_name
          %td= lifp(o.date_created, :short)
          %td= o.status