- content_for :header do
  Reset password

= devise_error_messages!
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .form-group
    %label Email Address
    .input-group
      .input-group-prepend
        %span.input-group-text
          = fa_solid 'lock-alt'
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'name@address.com'

  .form-group
    = f.submit 'Reset password', class: 'btn btn-teal btn-block btn-login'

  .text-center.text-muted
    Remember your password?
    = link_to 'Sign in', new_session_path(resource_name), class: 'link-teal'
    %br
