- unless @customer.orders.any?
  .card-footer
    .text-muted Customer has not yet placed an order.
- else
  %table.table.table-striped.table-bordered.table-border-fix
    %thead
      %tr
        %th Order Number
        %th Status
        %th Date Placed
        %th Delivery
        %th Billing
    %tbody
      - @customer.orders.each do |o|
        %tr{data: { 'clickable-row': '', 'href': cp_order_path(o) }}
          %td= o.order_number
          %td= o.status
          %td= l o.date_placed, format: :short if o.date_placed
          %td= o.shipping_address.nickname if o.shipping_address_id.present?
          %td= o.billing_address.nickname if o.billing_address_id.present?