- page_title 'Invoice Search'

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2
    = fa_solid 'file-invoice-dollar'
    Invoices

.table-responsive
  %table.table.table-bordered.table-striped.table-hover
    %thead.thead-gray
      %tr
        %th Number
        %th Customer
        %th Date
        %th Status
    %tbody
      - @invoices.each do |o|
        %tr{data: { 'clickable-row': '', 'href': admin_invoice_path(o) }}
          %td= o.identifier
          %td= o.customer.full_name
          %td= lifp(o.created_at, :short)
          %td= o.status
    %tfoot
      %tr
        %td{colspan: '100%'}
          = paginate @invoices
          = page_entries_info @invoices
