.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Invoices
        %h1.header-title
          %i.fad.fa-file-invoice-dollar
          = "Invoice ##{@invoice.identifier}"
      .col-auto
        = render partial: 'admin/invoices/header'

- if @invoice.status == :draft
  .alert.alert-info
    The customer has started this order but has yet to complete it!
.row
  .col-12.col-lg-5
    .card
      .card-header
        %h3.card-header-title
          Overview
      .card-body
        .form-group.row
          %label.col-form-label.col-6 Customer
          .form-control-plaintext.col
            = link_to @invoice.customer.full_name, admin_customer_path(@invoice.customer)
        .form-group.row
          %label.col-form-label.col-6 Date Created
          .form-control-plaintext.col= lifp(@invoice.created_at, :short)
        .form-group.row
          %label.col-form-label.col-6 Total Sales Tax
          .form-control-plaintext.col= number_to_currency(@invoice.tax_total)
        .form-group.row
          %label.col-form-label.col-6 Grand Total
          .form-control-plaintext.col= number_to_currency(@invoice.grand_total)

  .col-12.col-lg-7
    .card
      .card-header
        %h3.card-header-title
          = fa_solid 'list'
          Summary
      %table.table.card-table
        - @invoice.items.each do |i|
          %tr
            %td
              = render partial: 'admin/item_descriptions/show', locals: {item: i}
            %td.text-right
              %span.font-weight-medium
                = content_tag :span, number_to_currency(i.line_total)
    .card.mt-2
      .card-header
        %h3.card-header-title
          = fa_solid 'money-check'
          Payments
      %table.table.card-table
        - @invoice.payments.each do |p|
          %tr
            %td= p.method.humanize
            %td= p.identifier
            %td= l p.created_at, format: :short
            %td.text-right= content_tag :span, number_to_currency(p.amount)

    .card.mt-2
      .card-header
        %h3.card-header-title
          = fa_solid 'gift-card'
          Refunds
      %table.table.card-table
        - @invoice.refunds.each do |r|
          %tr
            %td
              - if r.customer_credit.present?
                Customer credit
              - else
                Credit card
            %td= l r.created_at, format: :short
            %td.text-right= content_tag :span, number_to_currency(r.amount)
