%div{'data-controller': 'seat-wizard--guest',
     'data-seat-wizard--guest-for-reservation-value': @reservation_mode.to_s}
  .card-body
    %h5.card-title.mt-2
      - if @reservation_mode
        Who is this seat for?
      - else
        Who are you purchasing this seat for?

    .form-group
      .custom-control.custom-radio
        - if @self_enabled
          %input#self.custom-control-input{name: 'cart[guest_type]', type: "radio", value: "self",
                                           'data-seat-wizard--guest-target': 'guestType',
                                           'data-action': "seat-wizard--guest#toggleGuestType"}
          %label.custom-control-label{for: "self"} Myself
        - else
          %input.custom-control-input{type: "radio", disabled: true}
          %label.custom-control-label
            Myself
            %br= link_to t('seat_wizard.guest_type.self_disabled'), seat_path(0)

      .custom-control.custom-radio
        %input#adult.custom-control-input{name: 'cart[guest_type]', type: "radio", value: "adult",
                                          'data-seat-wizard--guest-target': 'guestType',
                                          'data-action': "seat-wizard--guest#toggleGuestType"}
        %label.custom-control-label{for: "adult"}= t('seat_wizard.guest_type.adult')

      .custom-control.custom-radio
        %input#other.custom-control-input{name: 'cart[guest_type]', type: "radio", value: "other",
                                          'data-seat-wizard--guest-target': 'guestType',
                                          'data-action': "seat-wizard--guest#toggleGuestType"}
        %label.custom-control-label{for: "other"}= t('seat_wizard.guest_type.other')

      .custom-control.custom-radio
        - if @family_friendly_enabled
          %input#child.custom-control-input{name: 'cart[guest_type]', type: "radio", value: "child",
                                            'data-seat-wizard--guest-target': 'guestType',
                                            'data-action': "seat-wizard--guest#toggleGuestType"}
          %label.custom-control-label{for: "child"}= t('seat_wizard.guest_type.child')
        - else
          %input.custom-control-input{type: "radio", disabled: true}
          %label.custom-control-label
            = t('seat_wizard.guest_type.child')
            %br= t('seat_wizard.guest_type.child_disabled')

    %div{'data-seat-wizard--guest-target': 'guestInfo'}
      %h5.card-title Guest Information
      - if @reservation_mode
        .form-group{'data-seat-wizard--guest-target': 'purchaseModeArea'}
          .custom-checkbox.custom-control
            %input#purchaseMode.custom-control-input{type: "checkbox", value: "0",
                                                     'data-seat-wizard--guest-target': 'purchaseMode',
                                                     'data-action': "seat-wizard--guest#togglePurchaseMode"}
            %label.custom-control-label{for: "purchaseMode"}
              Will you be selecting the project and paying for this persons seat?
      %p{'data-seat-wizard--guest-target': 'guestInfoAlert'}

      .form-row
        .form-group.col-6
          %label{for: 'firstName'} First name
          %input.form-control#firstName{type: 'text', autocomplete: false, name: 'cart[first_name]',
                                        'data-seat-wizard--guest-target': 'firstName',
                                        'data-action': "seat-wizard--guest#updateUI"}
        .form-group.col-6
          %label{for: 'lastName'} Last name
          %input.form-control#lastName{type: 'text', autocomplete: false, name: 'cart[last_name]',
                                      'data-seat-wizard--guest-target': 'lastName',
                                      'data-action': "seat-wizard--guest#updateUI"}
        .form-group.col-12
          %label{for: 'emailAddress'} Email address
          %input.form-control#emailAddress{type: 'text', autocomplete: false, name: 'cart[email]',
                                          'data-seat-wizard--guest-target': 'emailAddress',
                                          'data-action': "seat-wizard--guest#updateUI"}

    %h5.card-title Seating Request
    .form-group
      .custom-checkbox.custom-control
        %input#hasSeatRequest.custom-control-input{type: "checkbox", value: "0", 'data-action': "seat-wizard--guest#toggleSeatRequest"}
        %label.custom-control-label{for: "hasSeatRequest", 'data-seat-wizard--guest-target': 'seatRequestLabel'}
          Would you like to sit next to someone specific?

    .form-group{'data-seat-wizard--guest-target': 'seatRequestArea'}
      .form-control-plaintext
        Enter the guests name below. We'll do our best to accomidate your request.
      %input.form-control#seatRequest{type: 'text', autocomplete: false, name: 'cart[seat_request]',
                                      placeholder: "First and Last name",
                                      'data-seat-wizard--guest-target': 'seatRequest'}

  .card-footer.card-sticky-footer.clearfix
    .float-right
      %a.btn.btn-primary{href: '#',
                         'data-action': 'seat-wizard#goToTab',
                         'data-destination': 'project',
                         'data-seat-wizard--guest-target': 'nextButton'}
        Next