.row
  .col-sm-5
    .card
      .card-body
        - @event.images.each do |img|
          %img.card-img{src: url_for(img)}
  .col-sm-7
    .card
      %h4.card-header.bg-primary.text-white
        = @event.name
      .card-body
        %p.card-text
          = fa_regular 'calendar-alt'
          = @event.when
        %p.card-text
          = fa_regular 'usd-circle'
          = number_to_currency(@event.ticket_price)
        %p.card-text
          = fa_regular 'ticket-alt'
          = "#{@event.tickets_available} tickets available"
        %hr
        %p.card-text= @event.description
      .card-footer
        - if user_signed_in?
          - if @event.can_purchase?
            = form_for :cart, url: cart_index_path do |f|
              = f.hidden_field :event_id, value: @event.id
              = ticket_dropdown f, @event              
          - else
            = link_to 'Go Back', events_path, class: 'btn btn-outline-secondary'
            .text-muted Sorry, but tickets for this event can't be purchased right now
        - else
          = link_to 'Go Back', events_path, class: 'btn btn-outline-secondary'
          %a.btn.btn-primary(href=new_user_session_path)
            = fa_light 'sign-in'
            Log In or Sign up to add this to your cart
= content_for :scripts do
  :javascript
    $(function() {
      $('[data-js-change-size-style]').change()
    });
