= f.hidden_field :id
.form-group
  = f.label :name, class: 'col-form-label'
  = f.text_field :name, class: 'form-control'
.form-row
  .form-group.col-12.col-md-6
    = f.label :material_price, class: 'col-form-label'
    .input-group
      .input-group-prepend
        %span.input-group-text= fa_regular 'dollar-sign'
      = f.text_field :material_price, class: 'form-control'
  .form-group.col-12.col-md-6
    = f.label :instructional_price, class: 'col-form-label'
    .input-group
      .input-group-prepend
        %span.input-group-text= fa_regular 'dollar-sign'
      = f.text_field :instructional_price, class: 'form-control'
.form-group
  = f.label :max_stencil_selection, class: 'col-form-label'
  = f.text_field :max_stencil_selection, class: 'form-control'
.form-row
  .form-group.col
    .custom-switch.custom-control
      = f.check_box :prohibit_adult_purchases, class: 'custom-control-input'
      = f.label :prohibit_adult_purchases, class: 'custom-control-label'
.form-row
  .form-group.col
    = f.label :addons, class: 'col-form-label'
    = collection_check_boxes(:project, :addon_ids, Addon.order(name: :asc).all, :id, :name) do |b|
      .custom-control.custom-checkbox
        = b.check_box(class: 'custom-control-input')
        = b.label(class: 'custom-control-label')
