- page_title 'Edit', @project.name, 'Projects'

= form_for @project, url: admin_project_path(@project), method: :patch do |f|
  .header
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Projects
          %h1.header-title
            %i.fad.fa-sign
            = "Edit #{@project.name}"
        .col-auto
          = link_to 'Cancel', admin_project_path(@project), class: 'btn btn-outline-secondary'
          = f.submit 'Save Changes', class: 'btn btn-success'

  = render partial: 'admin/projects/form', locals: { f: f }
