- page_title 'Project Search'

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2
    = fa_solid 'sign'
    Projects

.table-responsive
  %table.table.table-bordered.table-striped.table-hover
    %thead.bg-primary.text-white
      %tr
        %th Name
    %tbody
      - @projects.each do |p|
        %tr{data: { 'clickable-row': '', 'href': admin_project_path(p) }}
          %td= p.name
    %tfoot
      %tr
        %td{colspan: '100%'}
          = paginate @projects, remote: true
          = page_entries_info @projects
%br
= link_to 'New Project', new_admin_project_path, class: 'btn btn-primary'
