- page_title @project.name, 'Projects'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Projects
        %h1.header-title
          %i.fad.fa-sign
          = @project.name
      .col-auto
        = render partial: 'header'

.row
  .col-12.col-lg-4
    .card
      .card-body
        .row.align-items-center
          .col
            %h5.mb-0 Status
          .col-auto
            %small.text-muted
              - if @project.active
                %span.text-success ●
                Active
              - else
                %span.text-warning ●
                Inactive
        %hr
        .row.align-items-center
          .col
            %h5.mb-0 Material price
          .col-auto
            %small.text-muted= number_to_currency @project.material_price
        %hr
        .row.align-items-center
          .col
            %h5.mb-0 Instructional price
          .col-auto
            %small.text-muted= number_to_currency @project.instructional_price
        %hr
        .row.align-items-center
          .col
            %h5.mb-0 No. stencils allowed
          .col-auto
            %small.text-muted= @project.allowed_stencils
    - if @project.addons.any?
      .card
        .card-header
          %h3.card-header-title Addons
        %ul.list-group
          - @project.addons.each do |addon|
            %li.list-group-item.d-flex.justify-content-between.align-items-center
              = link_to addon.name, admin_addon_path(addon)
              - unless addon.active?
                %span.badge.badge-soft-warning.text-uppercase.badge-pill Inactive

  .col-12.col-lg-8
    %ul#projectTab.nav.nav-tabs.mb-2{role: "tablist"}
      %li.nav-item
        %a#project-tab.nav-link.active{"aria-controls": "stencil", "aria-selected": "false", "data-toggle": "tab", href: "#stencil", role: "tab"}
          = fa_solid 'swatchbook'
          Stencils
      %li.nav-item
        %a#image-tab.nav-link{"aria-controls": "image", "aria-selected": "false", "data-toggle": "tab", href: "#image", role: "tab"}
          = fa_solid 'images'
          Images

    #projectTabContent.tab-content
      #stencil.tab-pane.show.active{"aria-labelledby": "stencil-tab", role: "tabpanel"}
        = render partial: 'admin/stencils/list', locals: { stencils: @project.stencils, allow_no_stencil: @project.allow_no_stencil }
      #image.tab-pane.fade{"aria-labelledby": "image-tab", role: "tabpanel"}
        = render partial: 'admin/images/list', locals: { images: @project.project_images.order(:created_at) }
