- page_title @project.name, 'Projects'

= render partial: 'header'

.row
  .col-12.col-lg-4
    .card
      %h5.card-header.d-flex.align-items-center.bg-primary.text-white
        = @project.name
      .card-body
        .form-group
          %label.col-form-label Material price
          .form-control-plaintext= number_to_currency @project.material_price
        .form-group
          %label.col-form-label Instructional price
          .form-control-plaintext= number_to_currency @project.instructional_price
        .form-group
          %label.col-form-label Allow option to select no stencil
          .form-control-plaintext= @project.allow_no_stencil
        - if @project.addons.any?
          .form-group
            %label.col-form-label Addons
            %ul.list-inline
              - @project.addons.each do |addon|
                %li.list-inline-item= addon.name
  .col-12.col-lg-8
    %ul#projectTab.nav.nav-tabs{role: "tablist"}
      %li.nav-item
        %a#project-tab.nav-link.active{"aria-controls": "stencil", "aria-selected": "false", "data-toggle": "tab", href: "#stencil", role: "tab"}
          = fa_solid 'swatchbook'
          Stencils
      %li.nav-item
        %a#image-tab.nav-link{"aria-controls": "image", "aria-selected": "false", "data-toggle": "tab", href: "#image", role: "tab"}
          = fa_solid 'images'
          Images

    #projectTabContent.tab-content
      #stencil.tab-pane.show.active{"aria-labelledby": "stencil-tab", role: "tabpanel"}
        = render partial: 'admin/stencils/list', locals: { stencils: @project.stencils }
      #image.tab-pane.fade{"aria-labelledby": "image-tab", role: "tabpanel"}
        = render partial: 'admin/images/list', locals: { images: @project.project_images }

