- page_title @project.name, 'Projects'

= render partial: 'header'

.row
  .col-4
    .card
      %h5.card-header.d-flex.align-items-center.bg-primary.text-white
        = @project.name
      .card-body
        .form-group
          %label.col-form-label Material price
          .form-control-plaintext= @project.material_price
        .form-group
          %label.col-form-label Instructional price
          .form-control-plaintext= @project.instructional_price
  .col-8
    %ul#projectTab.nav.nav-tabs{role: "tablist"}
      %li.nav-item
        %a#project-tab.nav-link.active{"aria-controls": "stencil", "aria-selected": "false", "data-toggle": "tab", href: "#stencil", role: "tab"}
          Addons & Stencils
      %li.nav-item
        %a#image-tab.nav-link{"aria-controls": "image", "aria-selected": "false", "data-toggle": "tab", href: "#image", role: "tab"}
          Images

    #projectTabContent.tab-content
      #stencil.tab-pane.show.active{"aria-labelledby": "stencil-tab", role: "tabpanel"}
        = render partial: 'admin/addons/list', locals: { addons: @project.addons }
        = render partial: 'admin/stencils/list', locals: { stencils: @project.stencils }
      #image.tab-pane.fade{"aria-labelledby": "image-tab", role: "tabpanel"}
        = render partial: 'admin/images/list', locals: { images: @project.project_images }

