.card-body
  = error_messages_for 'order'
  = error_messages_for 'payment'

  = f.hidden_field :date_created
  %input{type: :hidden, id: :payment_method_nonce, name: :payment_method_nonce}
  %h4
    = fa_light 'usd-circle'
    Billing
  .form-group{'data-js-address-section': ''}
    %label Address
    .input-group
      = f.select(:address_id,
        @addresses.collect { |r| [ r[:nickname], r[:id] ] },
        { include_blank: ' - Select - ' },
        { class: 'custom-select', 'data-js-address': '' })
      .input-group-append
        %a.btn.btn-outline-secondary{href: new_address_path, target: '_blank'}
          = fa_light 'plus'
    %p.card-text
      %strong Ticket and project information will be assigned after purchasing
  .form-group
    %label Choose a payment method
    .custom-control.custom-radio
      = f.radio_button :payment_method, 'card', class: 'custom-control-input', 'data-js-payment-method': ''
      = f.label :payment_method, value: 'card', class: 'custom-control-label' do
        = fa_light 'credit-card-front'
        Card
    .custom-control.custom-radio
      = f.radio_button :payment_method, 'paypal', class: 'custom-control-input', 'data-js-payment-method': ''
      = f.label :payment_method, value: 'paypal', class: 'custom-control-label' do
        = fa_brands 'paypal'
        PayPal
  #payment-container{style: 'display: none;'}
.card-footer
  %button{type: 'submit', name: 'save', class: 'btn btn-outline-success'}
    Place your order
    = fa_solid 'cash-register'
