.card-body
  = error_messages_for 'order'
  = error_messages_for 'payment'

  = f.hidden_field :date_created
  %input{type: :hidden, id: :payment_method_nonce, name: :payment_method_nonce}
  %h4
    = fa_light 'usd-circle'
    Billing
  %p.card-text
    %strong Tickets can be assigned to individuals after purchasing
  #payment-container
.card-footer
  %button{type: 'submit', name: 'save', class: 'btn btn-outline-success'}
    Place your order
    = fa_solid 'cash-register'
