- left_padding = 20
- right_padding = 18
- line_width = left_padding + right_padding
- line_format = "%-#{left_padding}s%#{right_padding}s"
- line_separator = ('=' * line_width)

= ''
= WHIZ::INFO.owner.center(line_width)
= WHIZ::INFO.address_1.center(line_width)
= WHIZ::INFO.address_2.center(line_width)
= "#{lifp(DateTime.now, :short)}\n".center(line_width)

= format(line_format, 'Order #', @order.order_number)
= format(line_format, 'Customer', @order.customer.full_name)
- if @order.being_picked_up?
  = format(line_format, 'Delivery Method', 'Pick Up')
- if @order.placed?
  = format(line_format, 'Placed', lifp(@order.date_placed, :short))
- if @order.fulfilled?
  = format(line_format, 'Fulfilled', lifp(@order.date_fulfilled, :short))
- if @order.shipped?
  = format(line_format, 'Shipped', lifp(@order.date_shipped, :short))
- if @order.picked_up?
  = format(line_format, 'Picked Up', lifp(@order.date_picked_up, :short))
= ''

- if @order.being_shipped?
  = "Shipping to #{@order.shipping_address.nickname}\n".upcase.center(line_width)
  = @order.shipping_address.street.upcase
  - if @order.shipping_address.street2.present?
    = @order.shipping_address.street2.upcase
  = "#{@order.shipping_address.city}, #{@order.shipping_address.state} #{@order.shipping_address.zip_code}".upcase
  = ''

= "Transaction\n".upcase.center(line_width)

- @order.items.each do |i|
  = format(line_format, "#{i.name.upcase} x #{i.quantity}", number_to_currency(i.price))
= line_separator
- if @order.taxed? || @order.shipping?
  = format(line_format, 'TOTAL', number_to_currency(@order.total_line_items))
  - if @order.taxed?
    = format(line_format, 'TAX', number_to_currency(@order.total_tax))
  - if @order.shipping?
    = format(line_format, 'SHIPPING', number_to_currency(@order.total_tax))
= format(line_format, 'TOTAL SALE', number_to_currency(@order.total_due))
- @order.payments.each do |p|
  = format(line_format, "#{p.method.upcase} PAYMENT", number_to_currency(p.amount))
= format(line_format, 'BALANCE', number_to_currency(@order.total_balance))
= line_separator + "\n\n"

= 'Thanks for using our online store!'.center(line_width)