.card
  %h4.card-header.bg-primary.text-white
    = fa_regular 'ticket'
    Tickets
  .table-responsive-md
    %table.table.table-striped.table-bordered.table-border-fix.table-sm
      %thead
        %tr.bg-primary.text-white
          %th.action-column
          %th Workshop
          %th Assigned To
      %tbody
        - @order.items_no_deposit.each do |i|
          %tr
            %td.action-column
              - if i.score >= 1.0
                = fa_solid 'check', 'text-success'
              - elsif i.score <= 0.9 && i.score >= 0.1
                = fa_solid 'exclamation', 'text-warning'
              - else
                = fa_solid 'times', 'text-danger'
            %td= i.description
            %td
              - if i.assignee.present?
                = i.assignee.name
              - else
                %em Not assinged

