- @order.tickets_grouped.each do |workshop, tickets|
  .card.mb-2
    %h4.card-header.bg-primary.text-white
      = fa_solid 'ticket-alt'
      = workshop.name
      %br
      %small
        = fa_solid 'calendar-alt', 'fa-fw'
        = workshop.when
        - if workshop.is_private?
          %br
          Private Workshop
    %ul.list-group
      %li.list-group-item.list-group-item-info= "Choose project and make payment by #{l(workshop.book_by_date)}"
      - tickets.sort_by{ |t| t.created_at }.each_slice(2) do |slice|
        %li.list-group-item
          .row
            - slice.each do |ticket|
              .col
                - if ticket.score == 1
                  = fa_solid 'check', 'text-success fa-fw'
                - elsif ticket.score <= 0.9 && ticket.score >= 0.25
                  = fa_solid 'exclamation', 'text-warning fa-fw'
                - else
                  = fa_solid 'times', 'text-danger fa-fw'

                - if ticket.assignee.present?
                  %strong= ticket.assignee.full_name
                  %ul.fa-ul
                    %li
                      %span.fa-li= fa_solid 'envelope'
                      = ticket.assignee.email
                    %li
                      %span.fa-li= fa_solid 'swatchbook'
                      - if ticket.description.present?
                        %em= ticket.description
                      - else
                        %em No project selected
                    - if ticket.seating.present?
                      %li
                        %span.fa-li= fa_solid 'chair'
                        = ticket.seating
                - else
                  %strong Not assigned

                %button.btn.btn-outline-danger.btn-sm.float-right{"data-target": "#new-ticket-modal", "data-toggle": "modal", type: "button"}
                  = fa_light 'ban'
                  Cancel
    .card-footer
      = link_to edit_order_path(@order), class: 'btn btn-outline-primary btn-sm mr-1' do
        = fa_light 'pencil'
        Assign seats
      - if workshop.is_private?
        %button.btn.btn-outline-primary.btn-sm.mr-1{"data-target": "#new-ticket-modal", "data-toggle": "modal", type: "button"}
          = fa_light 'user-plus'
          Invite Additional Guests
        - if workshop.tickets_available.positive?
          = button_tag(type: 'submit', class: 'btn btn-outline-primary btn-sm mr-1') do
            = fa_light 'cash-register'
            Pay for seats
      - else
        %button.btn.btn-outline-primary.btn-sm.mr-1{"data-target": "#new-ticket-modal", "data-toggle": "modal", type: "button"}
          = fa_light 'plus'
          Purchase Additional
