.card
  %h4.card-header.bg-primary.text-white
    = fa_regular 'th-list'
    Summary
  .table-responsive-md
    %table.table.table-striped.table-bordered.table-border-fix
      %thead
        %tr.bg-primary.text-white
          %th Workshop
          %th.action-column Amount
          %th.action-column Quantity
          %th.action-column Price
      %tbody
        - @order.items.each do |i|
          %tr
            %td= i.description
            %td= number_to_currency(i.price)
            %td= i.quantity
            %td.text-right
              %strong= number_to_currency(i.item_total)
        - if @order.taxed?
          %tr
            %td{colspan: 3}
              = "Sales Tax collected (#{@order.tax_percentage}%)"
            %td.text-right
              %strong= number_to_currency(@order.total_tax)
              Dave
        - @order.payments.each do |i|
          %tr
            %td{colspan: 3}
              = i.memo
            %td.text-right
              %strong= number_to_currency(i.amount)
      %tfoot
        %tr.bg-primary.text-white
          %td{colspan: 3} Order total
          %td.text-right
            %strong= number_to_currency(@order.total_due)
