.card
  %h4.card-header.bg-primary.text-white
    = fa_regular 'ticket'
    Tickets
  .table-responsive-md
    %table.table.table-striped.table-bordered.table-border-fix.table-sm
      %thead
        %tr.bg-primary.text-white
          %th.action-column
          %th Workshop
          %th Assigned To
      %tbody
        - @order.tickets.each do |t|
          %tr
            %td.action-column
              - if t.score >= 1.0
                = fa_solid 'check', 'text-success'
              - elsif t.score <= 0.9 && t.score >= 0.1
                = fa_solid 'exclamation', 'text-danger'
              - else
                = fa_solid 'times', 'text-warning'
            %td= t.display
            %td
              - if t.customer.present?
                = t.customer.name
              - else
                %em Not assinged
