%h1
  = fa_light 'shopping-bag'
  Orders

- if @orders.any?
  .row
    - @orders.each do |o|
      .col-12.col-sm-6.mb-2
        .card
          .card-header.d-flex.justify-content-between.align-items-center
            %h4
              = link_to "# #{o.order_number}", order_path(o)
            - if o.status == :canceled
              %span.badge.badge-danger= o.status
            - elsif o.status == :closed
              %span.badge.badge-success= o.status
            - else
              %span.badge.badge-info= o.status
          .card-body
            %dl.row
              %dt.col-6.col-lg-3.col-xl-2 Total
              %dd.col-6.col-lg-3.col-xl-4= number_to_currency(o.total_due)
              %dt.col-6.col-lg-3.col-xl-2 Tickets
              %dd.col-6.col-lg-3.col-xl-4= o.total_tickets
              %dt.col-6.col-lg-3.col-xl-2 Created
              %dd.col-6.col-lg-3.col-xl-4= lifp(o.date_created, :short)
              %dt.col-6.col-lg-3.col-xl-2 Ordered
              %dd.col-6.col-lg-3.col-xl-4= lifp(o.date_placed, :short)
- else
  You haven't placed any orders yet!
