= form_for @order, url: orders_path do |f|
  .row
    .col-12.col-sm-7
      .card.card-primary
        %h4.card-header.bg-primary.text-white
          Checkout          
        = render partial: 'orders/form', locals: { f: f }
    .col-12.col-sm-5
      .card
        %h4.card-header.bg-primary.text-white
          = fa_regular 'shopping-bag'
          Order Summary
        .table-responsive-md
          %table.table.table-striped.table-bordered.table-border-fix
            %tbody
              %tr
                %td Items
                %td.text-right
                  %strong= number_to_currency(@order.total_line_items)
              %tr
                %td= "Estimated tax to be collected (#{@order.tax_percentage}%)"
                %td.text-right
                  %strong#order_total_tax= number_to_currency(0)
            %tfoot
              %tr.bg-primary.text-white
                %td Order total
                %td.text-right
                  %strong#order_total_due= number_to_currency(@order.total_line_items)
