.row
  .col-md-5
    .card.card-primary
      %h4.card-header.bg-primary.text-white
        = fa_regular 'shopping-bag'
        = "Order ##{@order.order_number}"
      .card-body
        .form-group.row
          %label.col-form-label.col-6 Date Created
          .form-control-plaintext.col= lifp(@order.date_created, :short)
        .form-group.row
          %label.col-form-label.col-6 Date Placed
          .form-control-plaintext.col= lifp(@order.date_placed, :short)
        .form-group.row
          %label.col-form-label.col-6 Date Fulfilled
          - if @order.date_fulfilled.present?
            .form-control-plaintext.col= lifp(@order.date_fulfilled, :short)
        .form-group.row
          %label.col-form-label.col-6 Date Closed
          .form-control-plaintext.col= lifp(@order.date_closed, :short)
        .form-group.row
          %label.col-form-label.col-6 Address
          .form-control-plaintext.col
            - if @order.address_id.present?
              %strong= @order.address.nickname
              %br= raw(@order.address.display_formatted(1))
        - if @order.can_be_canceled?
          = form_for @order, url: order_mark_canceled_path, method: :post do |f|
            = f.hidden_field :id
            = button_tag(type: 'submit', class: 'btn btn-outline-danger btn-sm') do
              = fa_light 'ban'
              Cancel Order
      .card-footer
        = link_to 'Go Back', orders_path, class: 'btn btn-outline-secondary'
  .col-md-7
    = render partial: 'tickets'
    = render partial: 'summary'

