.row
  .col-4
    .card.card-primary
      %h4.card-header.bg-primary.text-white
        = fa_regular 'shopping-bag'
        = "Order ##{@order.order_number}"
      .card-body
        .form-group
          %label Date Placed
          .form-control-plaintext= lifp(@order.date_placed, :short)
        .form-group
          %label Date Shipped
          .form-control-plaintext= lifp(@order.date_shipped, :short)

        %h5 Shipping

        .form-group
          %label Method
          .form-control-plaintext= @order.delivery_method
        .form-group
          %label Address
          .form-control-plaintext
            - if @order.shipping_address_id.present?
              %strong= @order.shipping_address.nickname
              %br= raw(@order.shipping_address.display_formatted(1))

        %h5 Billing

        .form-group
          %label Address
          .form-control-plaintext
            - if @order.billing_address_id.present?
              %strong= @order.billing_address.nickname
              %br= raw(@order.billing_address.display_formatted(1))
        .form-group
          %label Payment Method
          .form-control-plaintext= @order.payment_method
  .col-8
    .card
      %h4.card-header.bg-primary.text-white
        = fa_regular 'th-list'
        Items
      .table-responsive-md
        %table.table.table-striped.table-bordered.table-border-fix
          %thead
            %tr.bg-primary.text-white
              %th Product
              %th.action-column Amount
              %th.action-column Quantity
              %th.action-column Price
          %tbody
            - @order.items.each do |i|
              %tr
                %td= i.name
                %td= number_to_currency(i.price)
                %td= i.quantity
                %td.text-right
                  %strong= number_to_currency(i.item_total)
            - if @order.taxed?
              %tr
                %td{colspan: 3} Estimated tax to be collected
                %td.text-right
                  %strong= number_to_currency(@order.total_tax)
            - if @order.shipping?
              %tr
                %td{colspan: 3} Shipping & handling
                %td.text-right
                  %strong= number_to_currency(@order.total_shipping)
          %tfoot
            %tr.bg-primary.text-white
              %td.text-right{colspan: 4}
                %strong.form-control-plaintext.text-warning= number_to_currency(@order.total_due)