- unless @customer.addresses.any?
  .card-footer
    .text-muted Customer has no addresses.
- else
  %table.table.table-striped.table-bordered.table-border-fix
    %thead
      %tr
        %th Nickname
        %th Location
    %tbody
      - @customer.addresses.each do |a|
        %tr{data: { 'clickable-row': '', 'href': edit_admin_customer_address_path(@customer, a) }}
          %td
            = a.nickname
            - if a.is_default?
              %br
              %span.badge.badge-success
                = fa_solid 'check'
                Default
          %td
            = a.street
            - unless a.street2.blank?
              %br= a.street2
              = "#{a.city} #{a.state}, #{a.zip_code}"
            - else
              %br= "#{a.city} #{a.state}, #{a.zip_code}"
