- page_title 'Edit', 'Design Categories'

= form_for @stencil, url: admin_stencil_path(@stencil), method: :patch do |f|
  .card
    %h5.card-header.bg-primary.text-white
      Edit Stencil
    .card-body
      = error_messages_for 'stenci'
      = render partial: 'admin/stencils/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_stencil_path(@stencil), class: 'btn btn-outline-secondary'
      = f.submit 'Save Changes', class: 'btn btn-success'
