- page_title 'Edit', 'Design Categories'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Stencils
        %h1.header-title
          %i.fad.fa-swatchbook
          = "Edit #{@stencil.name}"

= form_for @stencil, url: admin_stencil_path(@stencil), method: :patch do |f|
  .card
    .card-header
      %h2.card-header-title Information
    .card-body
      = error_messages_for 'stenci'
      = render partial: 'admin/stencils/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_stencil_path(@stencil), class: 'btn btn-outline-secondary'
      = f.submit 'Save Changes', class: 'btn btn-success'
