- page_title 'Stencils Search'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Stencils
        %h1.header-title
          %i.fad.fa-swatchbook
          Stencil Search
      .col-auto
        = link_to 'New Stencil', new_admin_stencil_path, class: 'btn btn-primary lift'

.card
  .card-header
    = search_form_for(@q, url: admin_stencils_path) do |f|
      .row.align-items-center
        .col
          .input-group.input-group-flush
            .input-group-prepend
              %span.input-group-text
                %i.fas.fa-search
            = f.search_field :name_cont, class: 'form-control list-search', placeholder: 'Search'
        .col-auto
          .dropdown
            %button.btn.btn-sm.btn-white{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
              %i.fas.fa-filter.mr-1
              Filter
            .dropdown-menu.dropdown-menu-right.dropdown-menu-card
              .card-header
                %h4.card-header-title
                  Filters
                %button.btn.btn-sm.btn-link.text-reset{type: "reset"}
                  %small Clear filters
              .card-body
                .list-group.list-group-flush.mt-n4.mb-4
                  .list-group-item
                    .row
                      .col
                        %small Type
                      .col-auto
                        = f.select :stencil_category_id_eq,
                          options_from_collection_for_select(StencilCategory.all, "id", "name", @q.stencil_category_id_eq),
                          include_blank: true,
                          class: 'custom-select custom-select-sm'
                %button.btn.btn-block.btn-primary{type: "submit"}
                  Apply filter
  %table.table.table-striped.border-bottom.card-table
    %thead
      %tr
        %th= sort_link(@q, :name)
        %th Category
        %th Status
    %tbody
      - @stencils.each do |stencil|
        %tr
          %td= link_to stencil.name, admin_stencil_path(stencil)
          %td= stencil.category.name if stencil.category
          %td
            - if stencil.active?
              %span.text-success ●
              Active
            - else
              %span.text-warning ●
              Inactive
    %tfoot
      %tr
        %td{colspan: '100%'}
          = paginate @stencils
          = page_entries_info @stencils
