- page_title 'New', 'Stencil'

= form_for @stencil, url: admin_stencils_path do |f|
  .card
    %h5.card-header.bg-primary.text-white New Stencil
    .card-body
      = error_messages_for 'stencil'
      = render partial: 'admin/stencils/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_stencils_path, class: 'btn btn-outline-secondary'
      = f.submit 'Create', class: 'btn btn-success'
