- page_title @stencil.name, 'Stencils'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Stencils
        %h1.header-title
          %i.fad.fa-swatchbook
          = @stencil.name
      .col-auto
        = render partial: 'admin/stencils/header'
.row
  .col-12.col-lg-4
    .card
      .card-body
        .row.align-items-center
          .col
            %h5.mb-0 Status
          .col-auto
            %small.text-muted
              - if @stencil.active
                %span.text-success ●
                Active
              - else
                %span.text-warning ●
                Inactive
        %hr
        .row.align-items-center
          .col
            %h5.mb-0 Allowed to be personalized?
          .col-auto
            %small.text-muted= human_boolean @stencil.allow_personilization
        %hr
        .row.align-items-center
          .col
            %h5.mb-0 Category
          .col-auto
            %small.text-muted
              = link_to @stencil.category.name, edit_admin_stencil_category_path(@stencil.category)
  .col-12.col-lg-8
    %ul#tab.nav.nav-tabs.mb-2{role: "tablist"}
      %li.nav-item
        %a#image-tab.nav-link.active{"aria-controls": "image", "aria-selected": "false", "data-toggle": "tab", href: "#image", role: "tab"}
          = fa_solid 'images'
          Images
      %li.nav-item
        %a#project-tab.nav-link{"aria-controls": "project", "aria-selected": "false", "data-toggle": "tab", href: "#project", role: "tab"}
          = fa_solid 'sign'
          Projects

    #tabContent.tab-content
      #image.tab-pane.fade.show.active{"aria-labelledby": "image-tab", role: "tabpanel"}
        = render partial: 'admin/images/list', locals: { images: [@stencil.image] }
      #project.tab-pane.fade{"aria-labelledby": "project-tab", role: "tabpanel"}
        = render partial: 'admin/projects/list', locals: { projects: @stencil.projects }
