.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center= @project.name

.row.text-center.text-lg-left.mb-3
  - @project.project_images.each do |image|
    .col-12.col-md-6.col-lg-4
      %img.img-fluid.img-thumbnail{alt: "Image of #{@project.name}", src: url_for(image)}

%h3.text-danger Available Stencils
- @project.stencils.group_by(&:category).sort_by { |cat, _| cat[:name].downcase }.each do |category, stencils|
  %h4.text-danger= category.name
  .d-flex.flex-wrap.mb-3
    - stencils.sort_by { |s| s.name.downcase }.each do |stencil|
      .row-item.text-center
        - if stencil.image.attached?
          %img.img-fluid.img-thumbnail{alt: "Preview of #{stencil.name}", src: url_for(stencil.image)}
        - else
          %img.img-fluid.img-thumbnail{alt: "Default image", src: '/cover.jpg'}
        .text-secondary= stencil.name

-# - if @project.addons.any?
-#   %h3.text-primary Available Add-ons
-#   - @project.addons.each do |addon|
-#     .col-12.col-md-4.col-lg-3.text-center
-#       = addon.name
