-# %preview Thanks for placing your order! We can't wait for you to join us and get your diy on!

%h5.mb-2 Hello #{@seat.customer.full_name}!

%p.mb-2
  #{@seat.reservation.host.full_name} has invited you to the #{@seat.reservation.workshop.name} workshop on
  #{@seat.reservation.workshop.when}!

%p.mb-2
  - if @seat.reservation.paid_by_host?
    = "You must make your selection by #{special_date @seat.reservation.workshop.registration_deadline}."
  - else
    = "You must make your selection and pay by #{special_date @seat.reservation.workshop.registration_deadline}."

.text-center
  %a.btn.btn-primary.btn-block.mt-2{href: seat_url(@seat)} Pick your project and stencil today!
