- page_title 'Edit', 'Customer Credit'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Customers
        %h1.header-title
          %i.fad.fa-address-book
          = "Edit credit for #{@credit.customer.full_name}"

= form_for @credit, url: admin_customer_credit_path(@credit), method: :patch do |f|
  .card
    .card-header
      %h5.card-header-title Information
    .card-body
      = error_messages_for 'credit'
      = f.hidden_field :id

      .form-row
        .form-group.col-12.col-md-6
          .form-group
            = f.label :remaining_balance, class: 'col-form-label'
            .form-control-plaintext= number_to_currency @credit.balance
            = f.label :starting_amount, class: 'col-form-label'
            .form-control-plaintext= number_to_currency @credit.starting_amount
        .form-group.col-12.col-md-6
          = f.label :expiration_date, class: 'col-form-label'
          #expirationpicker.input-group.date{"data-target-input": "nearest", 'data-date-picker': ''}
            = f.text_field :expiration_date, value: lifp(@credit.expiration_date), class: 'form-control datepicker-input', 'data-target': '#expirationpicker'
            .input-group-append{"data-target": "#expirationpicker", "data-toggle": "datetimepicker"}
              .input-group-text
                = fa_regular 'calendar'
    .card-footer
      = link_to 'Cancel', admin_customer_path(@credit.customer), class: 'btn btn-outline-secondary'
      = f.submit 'Save Changes', class: 'btn btn-success'
      = form_for :seat, url: admin_addon_path(@credit), method:'delete', class: 'form-inline' do |f|
        = f.hidden_field :id, value: @credit.id
        %button.btn.btn-danger{type: 'submit'} Delete
