- page_title 'Edit', 'Customer Credit'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Customers
        %h1.header-title
          %i.fad.fa-address-book
          = "Edit credit for #{@credit.customer.full_name}"
      .col-auto
        = form_for :seat, url: admin_addon_path(@credit), method:'delete', class: 'form-inline' do |f|
          = f.hidden_field :id, value: @credit.id
          %button.btn.btn-danger{type: 'submit'} Delete

= form_for @credit, url: admin_customer_credit_path(@credit), method: :patch do |f|
  .card
    .card-body
      = error_messages_for 'credit'

      .form-row
        .form-group.col-12.col-md-6
          .form-group
            = f.label :customer, class: 'col-form-label'
            .form-control-plaintext= link_to @credit.customer.full_name, admin_customer_path(@credit.customer)
            = f.label :remaining_balance, class: 'col-form-label'
            .form-control-plaintext= number_to_currency @credit.balance
            = f.label :starting_amount, class: 'col-form-label'
            .form-control-plaintext= number_to_currency @credit.starting_amount
        .form-group.col-12.col-md-6
          = f.label :expiration_date, class: 'col-form-label'
          = f.date_field :expiration_date, class: 'form-control'
    .card-footer
      = link_to 'Cancel', :back, class: 'btn btn-outline-secondary'
      = f.submit 'Save Changes', class: 'btn btn-success'
