- page_title 'New', 'Customer Credit'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Customers
        %h1.header-title
          %i.fad.fa-address-book
          = "New credit for #{@credit.customer.full_name}"

= form_for @credit, url: admin_customer_credits_path do |f|
  .card
    .card-body
      = error_messages_for 'credit'
      = f.hidden_field :user_id
      .form-row
        .form-group.col-12.col-md-6
          = f.label :amount, class: 'col-form-label'
          .input-group
            .input-group-prepend
              %span.input-group-text= fa_regular 'dollar-sign'
            = f.text_field :starting_amount, class: 'form-control'
          %small.text-muted This amount can not be changed after creation
        .form-group.col-12.col-md-6
          = f.label :expiration_date, class: 'col-form-label'
          = f.date_field :expiration_date, class: 'form-control'
    .card-footer
      = link_to 'Cancel', admin_customer_path(@credit.customer), class: 'btn btn-outline-secondary'
      = f.submit 'Create', class: 'btn btn-success'
