- if @reservation.may_add_seat?(current_user)
  %a.btn.btn-primary.btn-block.mb-2{href: new_reservation_seat_path(@reservation)}
    = fa_solid 'plus'
    Add another seat

- if @reservation.unpaid_balance? && @reservation.host?(current_user)
  = form_for :cart, url: cart_index_path, class: 'form-inline' do |f|
    = f.hidden_field :reservation_id, value: @reservation.id
    %a.btn.btn-info.btn-block{type: 'submit'}
      = fa_solid 'dollar-sign'
      Add unpaid seats to cart

- if @reservation.cancelable?
  = render partial: 'cancel', locals: {reservation: @reservation}
  %a.btn.btn-danger.btn-block{"data-target": "#cancel-reservation-#{@reservation.id}-modal", "data-toggle": "modal", href: "#"}
    = fa_solid 'ban'
    Cancel reservation

%a.btn.btn-secondary.btn-block{href: reservations_path}
  Go Back
