%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title George Bush
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'envelope-open-text', 'text-primary fa-fw'
            Invited on July 24th
    .col-2.offset-md-1

    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"}
              = fa_solid 'bell-exclamation', 'fa-fw text-primary'
              Send reminder
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Jimmy Carter
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw'
            Stencil
          .font-size-1.mb-1{title: 'Add-on'}
            = fa_solid 'stamp', 'text-primary fa-fw'
            Addon
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Bill Clinton
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw'
            Stencil
          .font-size-1.mb-1{title: 'Add-on'}
            = fa_solid 'stamp', 'text-primary fa-fw'
            Addon
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Dwight Eisenhower
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw'
            Stencil
          .font-size-1.mb-1{title: 'Add-on'}
            = fa_solid 'stamp', 'text-primary fa-fw'
            Addon
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Gerald Ford
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw'
            Stencil
          .font-size-1.mb-1{title: 'Add-on'}
            = fa_solid 'stamp', 'text-primary fa-fw'
            Addon
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Rutherford Hayes
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'envelope-open-text', 'text-primary fa-fw'
            Invited on July 25th
    .col-2.offset-md-1

    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"}
              = fa_solid 'bell-exclamation', 'fa-fw text-primary'
              Send reminder
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Lyndon Johnson
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw'
            Stencil
          .font-size-1.mb-1{title: 'Add-on'}
            = fa_solid 'stamp', 'text-primary fa-fw'
            Addon
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title John Kennedy
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw'
            Stencil
          .font-size-1.mb-1{title: 'Add-on'}
            = fa_solid 'stamp', 'text-primary fa-fw'
            Addon
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Richard Nixon
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw'
            Stencil
          .font-size-1.mb-1{title: 'Add-on'}
            = fa_solid 'stamp', 'text-primary fa-fw'
            Addon
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Barack Obama
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw'
            Stencil
          .font-size-1.mb-1{title: 'Add-on'}
            = fa_solid 'stamp', 'text-primary fa-fw'
            Addon
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title John Quincy Adams
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'envelope-open-text', 'text-primary fa-fw'
            Invited on July 25th
    .col-2.offset-md-1

    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"}
              = fa_solid 'bell-exclamation', 'fa-fw text-primary'
              Send reminder
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Ronald Reagan
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw text-primary'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw text-primary'
            Stencil
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Franklin Roosevelt
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw'
            Stencil
          .font-size-1.mb-1{title: 'Add-on'}
            = fa_solid 'stamp', 'text-primary fa-fw'
            Addon
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat

%li.list-group-item
  .row
    .col-6
      .media
        .media-body
          %h5.card-title Harry Truman
          .font-size-1.mb-1{title: 'Project'}
            = fa_solid 'sign', 'text-primary fa-fw'
            Project
          .card-text.mb-1{title: 'Stencil'}
            = fa_solid 'swatchbook', 'text-primary fa-fw'
            Stencil
          .font-size-1.mb-1{title: 'Add-on'}
            = fa_solid 'stamp', 'text-primary fa-fw'
            Addon
    .col-2.offset-md-1
      $99.99
    .col-3.text-right
      .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
        .btn-group{:role => "group"}
          %button#btnGroupDrop1.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = fa_solid 'ellipsis-h-alt'
          .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"}
              = fa_solid 'comment-alt-lines', 'fa-fw text-primary'
              Send email
            .dropdown-divider
            %a.dropdown-item{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
              = fa_solid 'user-edit', 'fa-fw text-primary'
              Reassign seat
            %a.dropdown-item{:href => "#"}
              = fa_solid 'user-slash', 'fa-fw text-primary'
              Cancel seat