- page_title 'Workshop Planner'

.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        = fa_solid 'toolbox'
        Workshop Planner

.table-responsive-md
  %table.table.table-bordered.table-striped.table-hover
    %thead.bg-primary.text-white
      %tr
        %th Confirmation Number
        %th Workshop
        %th Host
        %th Guests
        %th Date Booked
    %tbody
      - @reservations.each do |r|
        %tr
          %td
            = link_to r.confirmation_number, reservation_path(r)
            %br
            = render partial: 'statuses/reservation', locals: { reservation: r }
          %td
            = r.workshop.name
            %br= r.workshop.when
          %td= r.host.full_name
          %td= r.active_seats.count
          %td= lifp(r.created_at, :short)
    %tfoot
      %tr
        %td{colspan: '100%'}
          = paginate @reservations
          = page_entries_info @reservations
