= render partial: 'reservations/cancel'
= render partial: 'reservations/new_seat'
= render partial: 'reservations/edit_seat'
.row
  .col-12.col-lg-4.mb-2
    .card
      %h4.card-header.bg-primary.text-white Reservation Details
      .card-body
        .media.align-items-center.mb-3.mt-3
          .font-size-1.font-weight-normal.mb-0.mr-3 Confirmation Number
          .media-body.text-right
            %span.font-weight-medium
              .span 07AD27ED
        .media.align-items-center.mb-4
          .font-size-1.font-weight-normal.mb-0.mr-3 Workshop
          .media-body.text-right
            %span.font-weight-medium
              .span Pick Your Project
        .media.align-items-center.mb-4
          .font-size-1.font-weight-normal.mb-0.mr-3 Date booked
          .media-body.text-right
            %span.font-weight-medium
              .span July 21, 2019
        .media.align-items-center.mb-4
          .font-size-1.font-weight-normal.mb-0.mr-3 Seats still available
          .media-body.text-right
            %span.font-weight-medium
              .span 6
        .media.align-items-center.mb-4
          .font-size-1.font-weight-normal.mb-0.mr-3 Payment plan
          .media-body.text-right
            %span.font-weight-medium
              .span Guests pay
        .media.align-items-center.mb-4
          .font-size-1.font-weight-normal.mb-0.mr-3 Registration deadline
          .media-body.text-right
            %span.font-weight-medium
              .span Aug 1, 2019
        .media.align-items-center.mb-4
          .font-size-1.font-weight-normal.mb-0.mr-3 Payment deadline
          .media-body.text-right
            %span.font-weight-medium
              .span Aug 3, 2019
      .card-footer
        = render partial: 'reservations/actions'
  .col-12.col-lg-8.mb-2
    .card
      %h4.card-header.bg-primary.text-white
        Seats
      %ul.list-group.list-group-flush
        = render partial: 'reservations/items3'
