.row
  .col-12
    .alert.alert-info
      Due to COVID-19, all guests will be required to have their temperature taken upon arrival and before
      entering Sign Junkie. Guests
      %strong MUST
      provide their own mask to wear throughout the entire workshop.
      Noncompliance will result in a
      %strong NO
      refund and you will
      %strong NOT
      be able to attend the workshop.
  .col-12.col-lg-5.mb-2
    .card
      %h4.card-header.bg-primary.text-white
        = fa_solid 'toolbox'
        Workshop Planner
      - if @reservation.host?(current_user)
        .card-body= render partial: 'reservations/host_details'
        .card-footer= render partial: 'reservations/actions'
      - else
        .card-body= render partial: 'reservations/guest_details'
  .col-12.col-lg-7.mb-2
    - if @reservation.host?(current_user) && !@reservation.requirements_met?
      .alert.alert-info{:role => "alert"}
        %h4.alert-heading
          = fa_duo 'exclamation-triangle'
          Heads up!

        - if !@reservation.minimum_met?
          = t('reservations.minimum_not_met',
            seats: @reservation.remaining_seats_until_minimum_met,
            registration_deadline: lifp(@reservation.workshop.registration_deadline))
        - else
          = t('reservations.requirements_not_met',
            seats: @reservation.remaining_seats_until_requirements_met,
            registration_deadline: lifp(@reservation.workshop.registration_deadline))

          - if @reservation.paid_by_host?
            = t('reservations.payment_host', payment_deadline: lifp(@reservation.payment_deadline))
          - else
            = t('reservations.payment_guest', payment_deadline: lifp(@reservation.payment_deadline))

        - if @reservation.workshop.reservations_void_minimum_not_met?
          = t('reservations.registration_deadline_cancel_warning')
        - else
          = t('reservations.registration_deadline_loose_deposit_warning')

        - if @reservation.may_add_seat?(current_user)
          %br
          %a.alert-link{href: new_reservation_seat_path(@reservation)} Add more seats now
    .card
      %h4.card-header.bg-primary.text-white
        = fa_duo 'users'
        Invited Guests
        %span.badge.badge-light.float-right= @reservation.active_seats.count
      %ul.list-group.list-group-flush
        = render partial: 'seats/list', locals: { seats: @reservation.active_seats }
