.row
  .col-12
    .alert.alert-info= t('covid_warning')

  .col-12.col-lg-5.mb-2
    .card
      %h3.card-header.bg-primary.text-white
        = fa_solid 'toolbox'
        Workshop Planner
      .card-body= render partial: 'reservations/host_details'
      .card-footer
        - if @reservation.may_add_seat?(current_user)
          %a.btn.btn-primary.btn-block.mb-2{href: new_reservation_seat_path(@reservation)}
            = fa_solid 'user-plus'
            Add seat to reservation

        - if @reservation.unpaid_balance?
          = form_for :cart, url: cart_index_path do |f|
            = f.hidden_field :reservation_id, value: @reservation.id
            %button.btn.btn-info.btn-block.mb-2{type: 'submit'}
              = fa_solid 'cart-plus'
              Add unpaid projects to cart

        - if @reservation.cancelable?
          = render partial: 'cancel', locals: {reservation: @reservation}
          %a.btn.btn-danger.btn-block{"data-target": "#cancel-reservation-#{@reservation.id}-modal", "data-toggle": "modal", href: "#"}
            = fa_solid 'ban'
            Cancel reservation

        = link_to 'Go Back', :back, class: 'btn btn-secondary btn-block'

  .col-12.col-lg-7.mb-2
    = render partial: 'requirements_alerts' unless @reservation.requirements_met?

    .card
      %h3.card-header.bg-primary.text-white
        = fa_solid 'users'
        Invited Guests
        %span.badge.badge-light.float-right= @reservation.active_seats.count

      - if @reservation.active_seats.any?
        %table.table.table-striped.table-border-fix.table-sm
          %thead
            %tr
              %th Guest
              %th Picked Project?
              %th Paid?
              %th
          %tbody
            - @reservation.active_seats.each do |seat|
              %tr
                %td= link_to seat.name, seat_path(seat)
                %td
                  - if seat.selection_made?
                    = fa_solid 'check', 'text-success'
                  - else
                    = fa_solid 'times', 'text-warning'
                %td
                  - if seat.paid?
                    = fa_solid 'check', 'text-success'
                  - else
                    = fa_solid 'times', 'text-warning'

                    - if seat.selection_made? && seat.in_cart?
                      %br
                      %em In someones cart
                %td
                  .float-right= render partial: 'seat_actions', locals: { seat: seat }
      - else
        .card-body.text-center
          %h4.card-title No Seats
          %p.card-text.text-muted No seats have been added to this reservation.
