.row
  - unless @reservation.requirements_met? && @reservation.host? current_user
    .col-12
      .alert.alert-warning{:role => "alert"}
        %h4.alert-heading
          = fa_solid 'exclamation-triangle'
          Heads up!
        - if @reservation.workshop.reservations_void_minimum_not_met?
          = t('reservations.registration_deadline_cancel_warning',
            seats: @reservation.remaining_seats_until_requirements_met,
            registration_deadline: lifp(@reservation.workshop.registration_deadline))
        - else
          = t('reservations.registration_deadline_loose_deposit_warning',
            seats: @reservation.remaining_seats_until_requirements_met,
            registration_deadline: lifp(@reservation.workshop.registration_deadline))
        - if @reservation.may_add_seat?(current_user)
          %br
          %a.alert-link{href: new_reservation_seat_path(@reservation)} Add more seats now
  .col-12.col-lg-5.mb-2
    .card
      %h4.card-header.bg-primary.text-white
        = fa_solid 'toolbox'
        Workshop Planner
      - if @reservation.host? current_user
        .card-body= render partial: 'reservations/host_details'
        .card-footer= render partial: 'reservations/actions'
      - else
        .card-body= render partial: 'reservations/guest_details'
  .col-12.col-lg-7.mb-2
    .card
      %h4.card-header.bg-primary.text-white
        = fa_solid 'users'
        Guests
      %ul.list-group.list-group-flush
        = render partial: 'seats/list', locals: { seats: @reservation.seats }
