.row
  .col
    .card
      .card-body
        = error_messages_for 'tax_period'
        .form-group
          = f.label :start_date, class: 'col-form-label'
          = f.date_field :start_date, class: 'form-control'
        .form-group
          = f.label :due_date, class: 'col-form-label'
          = f.date_field :due_date, class: 'form-control'
        .form-group
          = f.label :amount_paid, class: 'col-form-label'
          .input-group
            .input-group-prepend
              %span.input-group-text= fa_regular 'dollar-sign'
            = f.text_field :amount_paid, class: 'form-control'
