= form_for @addon, url: admin_addons_path, remote: true do |f|
  %br
  .card
    %h5.card-header.d-flex.alight-items-center.bg-primary.text-white
      New Addon
    .card-body
      #addon-error
        = render partial: 'admin/addons/error', locals: { addon: @addon }
      = f.hidden_field :project_id
      .form-group
        = f.label :name, class: 'col-form-label'
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :price, class: 'col-form-label'
        = f.text_field :price, class: 'form-control'
    .card-footer
      = f.submit 'Submit', class: 'btn btn-sm btn-primary'
