- page_title 'Add-ons Search'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Project Add-ons
        %h1.header-title
          %i.fad.fa-stamp
          Search
      .col-auto
        = link_to 'New Add-on', new_admin_addon_path, class: 'btn btn-primary lift'

.card
  .card-header
    = search_form_for(@q, url: admin_addons_path) do |f|
      .row.align-items-center
        .col
          .input-group.input-group-flush
            .input-group-prepend
              %span.input-group-text
                %i.fas.fa-search
            = f.search_field :name_cont, class: 'form-control list-search', placeholder: 'Search'
        .col-auto.mr-n3
          = f.submit 'Search', class: 'btn btn-white'
  .table-responsive
    %table.table.card-table.table-striped
      %thead
        %tr
          %th Name
          %th Price
          %th Status
      %tbody
        - @addons.each do |c|
          %tr
            %td= link_to c.name, admin_addon_path(c)
            %td= number_to_currency(c.price)
            %td
              - if c.active?
                %span.text-success ●
                Active
              - else
                %span.text-warning ●
                Inactive
      %tfoot
        %tr
          %td{colspan: '100%'}
            = paginate @addons
            = page_entries_info @addons
