- page_title 'Addons Search'

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2
    = fa_solid 'stamp'
    Addons

.table-responsive
  %table.table.table-bordered.table-striped.table-hover
    %thead.bg-primary.text-white
      %tr
        %th Name
        %th Price
    %tbody
      - @addons.each do |c|
        %tr{data: { 'clickable-row': '', 'href': admin_addon_path(c) }}
          %td= c.name
          %td= number_to_currency(c.price)
    %tfoot
      %tr
        %td{colspan: '100%'}
          = paginate @addons
          = page_entries_info @addons

%br
= link_to 'New Addon', new_admin_addon_path, class: 'btn btn-primary'
