- page_title 'New', 'Addons'

= form_for @addon, url: admin_addons_path do |f|
  .card
    %h5.card-header.bg-primary.text-white New Addon
    .card-body
      = error_messages_for 'addon'
      = render partial: 'admin/addons/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_addons_path, class: 'btn btn-outline-secondary'
      = f.submit 'Create', class: 'btn btn-success'
