- page_title 'New', 'Add-ons'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Project Add-ons
        %h1.header-title
          %i.fad.fa-stamp
          New

= form_for @addon, url: admin_addons_path do |f|
  .card
    .card-header
      %h3.card-header-title Information
    .card-body
      = error_messages_for 'addon'
      = render partial: 'admin/addons/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', admin_addons_path, class: 'btn btn-outline-secondary'
      = f.submit 'Create', class: 'btn btn-success'
