- page_title 'New', 'Addon Image'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Project Add-ons
        %h1.header-title
          %i.fad.fa-stamp
          = @addon.name

= form_for @addon, url: upload_images_admin_addon_path(@addon), method: 'post', local: true do |f|
  .card
    .card-header
      %h3.card-header-title
        = fa_solid 'images'
        New Image
    .card-body
      = error_messages_for 'workshop'
      = f.hidden_field :id
      .form-group
        .custom-file{'data-controller': 'file-upload'}
          = f.file_field :images, multiple: true, class: 'custom-file-input'
          = f.label :select_one_or_more_images_to_upload, class: 'custom-file-label'
    .card-footer
      = link_to 'Cancel', admin_addon_path(@addon), class: 'btn btn-outline-secondary'
      = f.submit 'Upload', class: 'btn btn-success'
