%div{'data-controller': 'seat-wizard-stencil-tab--component',
     'data-seat-wizard-stencil-tab--component-max-stencils-value': @project.allowed_stencils,
     'data-seat-wizard-stencil-tab--component-active-class': 'bg-teal-light',
     'data-seat-wizard-stencil-tab--component-disabled-class': 'disabled'}

  .card-body
    - if @project.stencils.active.any?
      %h5.card-title.mt-2
        - if @project.allowed_stencils > 1
          Select #{@project.allowed_stencils} stencils
        - else
          Select a stencil

      = hidden_field_tag 'cart[stencils]', nil, 'data-seat-wizard-stencil-tab--component-target': 'input'

      .row
        - if @project.allow_no_stencil
          .col-12
            .form-group
              .custom-checkbox.custom-control
                %input#noStencil.custom-control-input{type: "checkbox",
                                                      value: "PLAIN_STENCIL",
                                                      'data-action': "seat-wizard-stencil-tab--component#togglePlainOption",
                                                      form: 'nosubmit'}
                %label.custom-control-label{for: "noStencil"}= t('seat.plain_stencil')

        .col-12{'data-seat-wizard-stencil-tab--component-target': 'filter'}
          .form-group
            - categories = @project.stencils.active.map { |p| p.category }.uniq
            = select_tag :stencil_filter,
              options_from_collection_for_select(categories, "id", "name"),
              include_blank: 'All Stencil Categories',
              class: 'custom-select custom-select-sm',
              'data-target': '#stencilOptions',
              'data-action': 'seat-wizard-stencil-tab--component#changeCategoryFilter',
              form: 'nosubmit'

      .row
        - @project.stencils.active.order(:name).each do |stencil|
          .col-12.col-sm-6{'data-seat-wizard-stencil-tab--component-target': 'column', 'data-category-id': stencil.category.id}
            %a.card.shadow-light-lg.mb-3{href: '#',
                                         'data-action': 'seat-wizard-stencil-tab--component#toggleStencil',
                                         'data-id': stencil.id,
                                         'data-allow-personalization': stencil.allow_personilization.to_s}
              .card-zoom
                %img.card-img{alt: "Image of #{stencil.name}", src: url_for(stencil.image)}

              .card-body.text-center{'data-seat-wizard-stencil-tab--component-target': 'option',
                                    'data-seat-wizard-target': 'stencil',
                                    'data-id': stencil.id,
                                    'data-selected': 'false'}
                %h5.card-title.text-dark.mb-2= stencil.name
                %h6.text-muted= stencil.category.name
                - if stencil.allow_personilization
                  .badge.badge-info Personalizable

            - if stencil.allow_personilization
              .form-group{'data-seat-wizard-stencil-tab--component-target': 'personalization', 'data-id': stencil.id, 'hidden': true}
                - element_id = "stencil-personalization-#{stencil.id}"

                = fa_solid 'palette', 'text-primary fa-fw'
                = label_tag element_id, 'Stencil Personalization'
                = text_field_tag element_id, nil, class: 'form-control', autocomplete: false, 'data-id': stencil.id,
                                             'data-action': 'seat-wizard-stencil-tab--component#updateStencilPersonalization',
                                             form: 'nosubmit'

                %p.form-text.text-muted
                  Please enter your information for personalization shown on the design you have chosen, this includes
                  any names, dates, city, state, gps coordinates, etc.
    - else
      .card.mt-2
        .card-body.text-center
          %h2 No Stencils
          %p.text-muted.mb-0 This project does not have any available stencils.

  .card-footer.card-sticky-footer
    %a.btn.btn-primary{href: '#',
                    'data-action': 'seat-wizard--component#goToTab',
                    'data-destination': @project.addons.active.any? ? 'addon' : 'project'} Previous

    .float-right
      %a.btn.btn-primary.disabled{href: '#',
                                  'data-action': 'seat-wizard--component#goToTab',
                                  'data-destination': 'review',
                                  'data-seat-wizard-stencil-tab--component-target': 'nextButton'} Next