- page_title 'Workshop Guest List', 'Reports'

.header.d-print-none
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Reports
        %h1.header-title
          %i.fad.fa-analytics
          Workshop Guest List

.row
  .col-12.col-lg-4.d-print-none
    = form_tag admin_guest_list_report_path, method: :post do |f|
      .card
        .card-body
          .form-row
            .form-group.col
              = label_tag :workshop_id
              = select_tag :workshop_id,
                  options_from_collection_for_select(@workshops, 'id', 'name_with_date', params[:workshop_id]),
                  { class: 'form-control custom-select', required: true, include_blank: '- Please Select -' }
        .card-footer
          = link_to 'Go Back', admin_reports_path, class: 'btn btn-white'
          = submit_tag 'Submit', class: 'btn btn-primary', data: { disable_with: false }

  .col
    %turbo-frame{id: 'report_contents'}
      .card
        .card-body
          .card-text Run report using parameters on the left.
