- page_title 'Sales Tax', 'Reports'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Reports
        %h1.header-title
          %i.fad.fa-analytics
          New Customers

.row
  .col-12.col-lg-4.d-print-none
    = form_tag admin_new_customers_report_path, method: :post do |f|
      .card
        .card-body
          .form-row
            .form-group
              = label_tag :start_date, nil, class: 'col-form-label'
              .input-group.date
                = text_field_tag :start_date, params[:start_date], class: 'form-control', data: { controller: "flatpickr", flatpickr_date_format: t('time.formats.default'), flatpickr_enable_time: true }
                .input-group-append
                  .input-group-text
                    = fa_regular 'calendar'
          .form-row
            .form-group
              = label_tag :end_date, nil, class: 'col-form-label'
              .input-group.date
                = text_field_tag :end_date, params[:end_date], class: 'form-control', data: { controller: "flatpickr", flatpickr_date_format: t('time.formats.default'), flatpickr_enable_time: true }
                .input-group-append
                  .input-group-text
                    = fa_regular 'calendar'
        .card-footer
          = link_to 'Go Back', admin_reports_path, class: 'btn btn-white'
          = submit_tag 'Submit', class: 'btn btn-primary', data: { disable_with: false }

  .col-12.col-lg-8
    %turbo-frame{id: 'report_contents'}
      .card
        .card-body
          .card-text Run report using parameters on the left.

