- page_title 'Sales Tax', 'Reports'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Reports
        %h1.header-title
          %i.fad.fa-analytics
          New Customers

.row
  .col-12.col-lg-4.d-print-none
    = form_tag url: admin_new_customers_report_path do |f|
      .card
        .card-header
          Parameters
        .card-body
          .form-row
            .form-group
              = label_tag :start_date, nil, class: 'col-form-label'
              .input-group.date
                = text_field_tag :start_date, value: params[:start_date], class: 'form-control', data: { controller: "flatpickr", flatpickr_date_format: t('time.formats.default'), flatpickr_enable_time: true }
                .input-group-append
                  .input-group-text
                    = fa_regular 'calendar'
          .form-row
            .form-group
              = label_tag :end_date, nil, class: 'col-form-label'
              .input-group.date
                = text_field_tag :end_date, value: params[:end_date], class: 'form-control', data: { controller: "flatpickr", flatpickr_date_format: t('time.formats.default'), flatpickr_enable_time: true }
                .input-group-append
                  .input-group-text
                    = fa_regular 'calendar'
        .card-footer
          = submit_tag 'Submit', class: 'btn btn-primary'

  .col-12.col-lg-8
    .card
      - if @report
        .table-responsive.mb-0
          %table.table.table-nowrap.card-table
            %tr
              %th.text-center{colspan: 3}= ClientInfo.owner
            %tr
              %th{colspan: 2}= short_date_out @report.start_date, @report.end_date
              %th.text-right As of: #{lifp(Time.zone.now)}
            %tr
              %th Name
              %th{colspan: 2} Date Added
            - @report.raw_data.each do |customer|
              %tr
                %td= link_to customer.full_name, admin_customer_path(customer)
                %td{colspan: 2}= lifp(customer.created_at)
      - else
        .card-body
          .card-text No results found.
