%turbo-stream{action: 'replace', target: 'report_contents'}
  %template
    %turbo-frame{id: 'report_contents'}
      .card
        - if report
          .table-responsive.mb-0
            %table.table.table-nowrap.card-table
              %tr
                %th.text-center{colspan: 3}= ClientInfo.owner
              %tr
                %th{colspan: 2}= short_date_out report.start_date, report.end_date
                %th.text-right As of: #{lifp(Time.zone.now)}
              %tr
                %th Name
                %th{colspan: 2} Date Added
              - report.raw_data.each do |customer|
                %tr
                  %td= link_to customer.full_name, admin_customer_path(customer)
                  %td{colspan: 2}= lifp(customer.created_at)
        - else
          .card-body
            .card-text No results found.
