.media
  .media-body
    - if @item.gift_card?
      %h5.card-title= @item.title
      .font-size-1.mb-1{title: 'Purchased for'}
        = fa_solid 'user', 'text-primary fa-fw' if @show_icons
        = "#{@item.owner.first_name} #{@item.owner.last_name}"

    - elsif @item.reservation?
      %h5.card-title
        - if @linkable
          = link_to @item.title, reservation_path(@item.reservation.id)
        - else
          = @item.title

    - else
      - if @show_title
        - if @admin
          %strong.text-body= link_to @item.title, admin_workshop_path(@item.workshop_id)
        - elsif @linkable
          %h5.card-title= link_to @item.title, seat_path(@item.seat.id)
        - else
          %h5.card-title= @item.title

      - if @show_status
        - if @item.cancel_date.present?
          .font-size-1.mb-1.text-warning{title: 'Cancel Date'}
            = fa_solid 'ban', 'fa-fw' if @show_icons
            CANCELED
        - elsif @item.void_date.present?
          .font-size-1.mb-1.text-warning{title: 'Cancel Date'}
            = fa_solid 'ban', 'fa-fw' if @show_icons
            VOIDED

      - if @show_workshop
        .font-size-1.mb-1{title: 'Scheduled time'}
          - if @show_icons
            = fa_solid 'calendar-alt', 'text-primary fa-fw'
          = @item.workshop.when

      - if @item.reservation.present?
        .font-size-1.mb-1
          = fa_solid 'toolbox', 'text-primary fa-fw' if @show_icons
          - if @linkable
            = link_to "Reservation ##{@item.reservation.confirmation_number}", reservation_path(@item.reservation)
          - else
            = "Reservation ##{@item.reservation.confirmation_number}"

      - if @item.gifted_seat?
        .font-size-1.mb-1{title: 'Purchased for'}
          = fa_solid 'user', 'text-primary fa-fw' if @show_icons
          = @item.guest_name

      - if @item.seat_preference.present?
        .font-size-1.mb-1{title: 'Seating preference'}
          = fa_solid 'chair', 'text-primary fa-fw' if @show_icons
          = @item.seat_preference

      - if @item.project_name.present?
        .font-size-1.mb-1{title: 'Project'}
          = fa_solid 'sign', 'text-primary fa-fw' if @show_icons
          = @item.project_name

      - if @item.addon_id.present?
        .font-size-1.mb-1{title: 'Add-on'}
          = fa_solid 'stamp', 'text-primary fa-fw' if @show_icons
          = @item.addon_name

      - if @item.stencils.present?
        - @item.stencils.each do |stencil|
          .card-text.mb-1
            = fa_solid 'swatchbook', 'text-primary fa-fw' if @show_icons
            %span{title: 'Stencil'}= stencil['name']
            - if stencil['personalization']
              %br
              = fa_solid 'palette', 'text-primary fa-fw' if @show_icons
              %span{title: 'Stencil Personalization'}= stencil['personalization']
