- page_title 'Policy Search'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Policies
        %h1.header-title
          %i.fad.fa-file-contract
          Search
      .col-auto
        = link_to 'New Policy', new_admin_policy_path, class: 'btn btn-primary lift'

.card
  .card-header
    = search_form_for(@q, url: admin_policies_path) do |f|
      .row.align-items-center
        .col
          .input-group.input-group-flush
            .input-group-prepend
              %span.input-group-text
                %i.fas.fa-search
            = f.search_field :name_cont, class: 'form-control list-search', placeholder: 'Search'
        .col-auto.mr-n3
          = f.submit 'Search', class: 'btn btn-white'
  %table.table.table-striped.border-bottom.card-table
    %thead
      %tr
        %th= sort_link(@q, :name)
    %tbody
      - @policies.each do |policy|
        %tr
          %td= link_to policy.name, edit_admin_policy_path(policy)
    %tfoot
      %tr
        %td{colspan: '100%'}
          = paginate @policies
          = page_entries_info @policies
