- content_for :head do
  = javascript_import_module_tag "editor"
- page_title 'New', 'Policy'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Policies
        %h1.header-title
          %i.fad.fa-file-contract
          New Policy

= form_for @policy, url: admin_policies_path, local: true do |f|
  .row.justify-content-center
    .col.col-lg-8.col-md-12
      .card.mt-3
        .card-body
          = error_messages_for 'policy'
          = render partial: 'admin/policies/form', locals: { f: f }
        .card-footer
          = link_to 'Cancel', admin_policies_path, class: 'btn btn-outline-secondary'
          = f.submit 'Create', class: 'btn btn-success'
