= f.hidden_field :id
= f.hidden_field :user_id
= f.hidden_field :author_id
.form-group
  = f.label :content, class: 'col-form-label'
  = f.text_area :content, class: 'form-control', rows: 6
.form-group.custom-check.custom-control
  = f.check_box :is_flagged, class: 'custom-control-input'
  = f.label :is_flagged, class: 'custom-control-label'
