= f.hidden_field :id

.form-group
  = f.label :name, class: 'col-form-label'
  = f.text_field :name, class: 'form-control'

%h3.mb-4.mt-4 Purchasing Options
.row
  .col-12.col-md-6
    .form-group
      .custom-switch.custom-control
        = f.check_box :active, class: 'custom-control-input'
        = f.label :active, class: 'custom-control-label'
        %small.form-text.text-muted
          Workshops of this type can be created
    .form-group
      .custom-switch.custom-control
        = f.check_box :in_person, class: 'custom-control-input'
        = f.label :in_person, class: 'custom-control-label'
        %small.form-text.text-muted
          Customers will be charged the instructional price of their selected project
    .form-group
      = f.label :default_total_seats, class: 'col-form-label'
      = f.text_field :default_total_seats, class: 'form-control'
      %small.form-text.text-muted
        Default total number of guests that can attend this type of workshop.
        This can be changed on a per-workshop basis later.
  .col-12.col-md-6
    .form-group
      .custom-switch.custom-control
        = f.check_box :default_single_seat_allow, class: 'custom-control-input'
        = f.label :default_single_seat_allow, class: 'custom-control-label'
        %small.form-text.text-muted
          Allow customers to purchase seats to workshops of this type without a reservation
    .form-group
      .custom-switch.custom-control
        = f.check_box :multiple_seats, class: 'custom-control-input'
        = f.label :multiple_seats, class: 'custom-control-label'
        %small.form-text.text-muted
          Customers can purchase multiple seats to workshops of this type

%h3.mb-4 Reservation Options
.row
  .col-12.col-md-6
    .form-group
      .custom-switch.custom-control
        = f.check_box :default_reservation_allow, class: 'custom-control-input'
        = f.label :default_reservation_allow, class: 'custom-control-label'
        %small.form-text.text-muted
          Allow customers to book reservations with multiple guests for workshops of this type
    .form-group
      .custom-switch.custom-control
        = f.check_box :default_reservation_allow_multiple, class: 'custom-control-input'
        = f.label :default_reservation_allow_multiple, class: 'custom-control-label'
        %small.form-text.text-muted
          Allow multiple reservations to be booked as long as there are enough seats available to meet the
          reservation minimum
    .form-group
      .custom-switch.custom-control
        = f.check_box :default_reservation_cancel_minimum_not_met, class: 'custom-control-input'
        = f.label :default_reservation_cancel_minimum_not_met, class: 'custom-control-label'
        %small.form-text.text-muted
          Should the reservation be voided if the registration requirements have not been met by the deadline?
    .form-group
      .custom-switch.custom-control
        = f.check_box :default_reservation_allow_guest_cancel_seat, class: 'custom-control-input'
        = f.label :default_reservation_allow_guest_cancel_seat, class: 'custom-control-label'
        %small.form-text.text-muted
          Should the host or guests that are associated to a reservation be allowed to cancel a seat after it's already
          been claimed?
  .col-12.col-md-6
    .form-group
      = f.label :default_reservation_price, class: 'col-form-label'
      .input-group
        .input-group-prepend
          %span.input-group-text= fa_regular 'dollar-sign'
        = f.text_field :default_reservation_price, class: 'form-control'
      %small.form-text.text-muted
        Default fee that must be paid to book a reservation. This can be changed on a per-workshop basis later.
    .form-group
      %label.col-form-label Default reservation min/max guests
      .input-group.text-center
        = f.text_field :default_reservation_minimum, class: 'form-control'
        .input-group-prepend
          %span.input-group-text= fa_solid 'minus'
        = f.text_field :default_reservation_maximum, class: 'form-control'
      %small.form-text.text-muted
        Default minimum and maximum number of guests that can be on a single reservation.
        Maximum can not be larger than the default total seats,

%h3.mb-4.mt-4 Policies
.form-row
  .form-group.col
    = f.label :guest_policy_id, class: 'col-form-label'
    = f.select :guest_policy_id,
      options_from_collection_for_select(@policies, 'id', 'name', f.object.guest_policy_id),
      { include_blank: '- Optional -' },
      { class: 'form-control custom-select', required: true }
    %small.form-text.text-muted
      Policy that will be applied to guests when they book a seat for a workshop of this type.
  .form-group.col
    = f.label :host_policy_id, class: 'col-form-label'
    = f.select :host_policy_id,
      options_from_collection_for_select(@policies, 'id', 'name', f.object.host_policy_id),
      { include_blank: '- Optional -' },
      { class: 'form-control custom-select', required: true }
    %small.form-text.text-muted
      Policy that will be applied to hosts when they book a reservation for a workshop of this type.
