- page_title 'Edit', 'Workshop Types'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Workshop Types
        %h1.header-title
          %i.fas.fa-chalkboard-teacher
          = "Edit #{@workshop_type.name}"

.row.justify-content-center
  .col-12.col-lg-10.col-xl-8
    = form_for @workshop_type, url: admin_workshop_type_path(@workshop_type), method: :patch do |f|
      = error_messages_for 'workshop_type'
      = render partial: 'admin/workshop_types/form', locals: { f: f }
      %hr.mt-5.mb-5
      = f.submit 'Save Changes', class: 'btn btn-success btn-block'
      = link_to 'Cancel', admin_workshop_types_path, class: 'btn btn-block btn-link text-muted'
