- page_title 'New', 'Workshop Image'

= form_for :workshop, url: admin_workshop_images_path, local: true do |f|
  .card
    %h5.card-header.bg-primary.text-white
      = "New Image for #{@workshop.name}"
    .card-body
      = error_messages_for 'workshop'
      = f.hidden_field :id
      .form-group
        .custom-file
          = f.file_field :images, multiple: true, class: 'custom-file-input'
          = f.label :select_one_or_more_images_to_upload, class: 'custom-file-label'
    .card-footer
      = link_to 'Cancel', admin_workshop_path(@workshop), class: 'btn btn-outline-secondary'
      = f.submit 'Upload', class: 'btn btn-success'
