- if item.gift_card?
  .media
    .media-body
      %h5.card-title= item.title
      .font-size-1.mb-1= "#{item.first_name} #{item.last_name}"
- else
  .media
    .media-body
      - if item.reservation?
        %h5.card-title= link_to item.title, reservation_url(item.reservation.id)
      - elsif item.seat?
        %h5.card-title= link_to item.title, seat_url(item.seat.id)
      - else
        %h5.card-title= item.title

      .font-size-1.mb-1= item.workshop.when
      - if item.gifted_seat?
        .font-size-1.mb-1= item.seat.name
      - if item.seat_preference.present?
        .font-size-1.mb-1= item.seat_preference
      - if item.project_name.present?
        .font-size-1.mb-1= item.project_name
      - if item.stencil_name.present?
        .card-text.mb-1= item.stencil_name
      - if item.stencil_personalization.present?
        .font-size-1.mb-1= item.stencil_personalization
      - if item.addon_id.present?
        .font-size-1.mb-1= item.addon_name
