%nav.navbar.navbar-dark.sticky-top.bg-dark.navbar-expand
  %a.navbar-brand.mr-1{href: admin_dashboard_path}
    = fa_solid 'wrench'
    Admin Portal
    - unless Rails.env.production?
      %strong.text-warning.text-uppercase.ml-2= Ares::EnvironmentInfo.current
  %button#sidebarToggle.btn.btn-link.btn-sm.text-white.order-1.order-sm-0{href: "#"}
    = fa_solid 'bars'
  %ul.navbar-nav.ml-auto
    %li.nav-item
      %a.nav-link{href: home_path}
        = fa_regular 'globe'
        Public Website
    %li.nav-item.dropdown.no-arrow
      %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
        %i.fas.fa-user-circle.fa-fw
      .dropdown-menu.dropdown-menu-right{"aria-labelledby": "userDropdown"}
        %a.dropdown-item{href: profile_link} My Account
        .dropdown-divider
        %a.dropdown-item{"data-target": "#logoutModal", "data-toggle": "modal", href: "#"}
          = fa_regular 'sign-out-alt'
          Sign Out
