%ul.sidebar.navbar-nav
  %li.nav-item
    %a.nav-link{sidebar_link(admin_dashboard_path, admin_home_action?('index'))}
      = fa_solid 'home', 'fa-fw'
      %span Dashboard
  %li.nav-item
    %a.nav-link{sidebar_link(admin_customers_path, customers_controller?)}
      = fa_solid 'users', 'fa-fw'
      %span Customers
  %li.nav-item
    %a.nav-link{sidebar_link(admin_events_path, events_controller?)}
      = fa_solid 'calendar-alt', 'fa-fw'
      %span Workshops
  %li.nav-item
    %a.nav-link{disabled_link}
      = fa_solid 'award', 'fa-fw'
      %span Gift Certificates
  %li.nav-item
    %a.nav-link{sidebar_link(admin_orders_path, order_controller?)}
      = fa_solid 'shopping-bag', 'fa-fw'
      %span Orders
  %li.nav-item.mt-1
    %a.nav-link{sidebar_link(admin_audits_path, audits_controller?)}
      = fa_solid 'history', 'fa-fw'
      %span Data History
  %li.nav-item
    %a.nav-link{sidebar_link(admin_employees_path, employees_controller?)}
      = fa_solid 'users-class', 'fa-fw'
      %span Employees
  %li.nav-item
    %a.nav-link{disabled_link}
      = fa_solid 'chart-line', 'fa-fw'
      %span Reports
  %li.nav-item
    %a.nav-link{sidebar_link(admin_about_path, admin_home_action?('about'))}
      = fa_solid 'info-circle', 'fa-fw'
      %span About
