- if flash['success']
  .alert.alert-success= flash['success']
- if flash['notice']
  .alert.alert-info= flash['notice']
- if flash['info']
  .alert.alert-info= flash['info']
- if flash['warning']
  .alert.alert-warning= flash['warning']
- if flash['error']
  .alert.alert-danger= flash['error']