- if flash['success']
  .alert.alert-success.mt-5= flash['success']
- if flash['notice']
  .alert.alert-info.mt-5= flash['notice']
- if flash['info']
  .alert.alert-info.mt-5= flash['info']
- if flash['warning']
  .alert.alert-warning.mt-5= flash['warning']
- if flash['error']
  .alert.alert-danger.mt-5= flash['error']