%footer.bd-footer
  .container
    .row.justify-content-around
      .col
        %ul.bd-footer-links
          %li
            %a{href: ClientInfo.facebook_link}
              = fa_brands 'facebook'
              Facebook
          %li
            %a{href: ClientInfo.instagram_link}
              = fa_brands 'instagram'
              Instagram
          %li= link_to 'Contact Us', contact_path
          %li= link_to 'About', about_path
        = link_to contact_path do
          .address
            = ClientInfo.address_1
            %br= "#{ClientInfo.city}, #{ClientInfo.state} #{ClientInfo.zip_code}"
        .text-muted
          %br
          %a{href: root_path}= "\u00A9 #{Date.today.year} #{ClientInfo.owner}"
          |
          %a{href: 'https://www.mythcoders.com', target: '_blank'} Powered by MythCoders, LLC
