%nav.navbar.fixed-bottom.whiz-footer
  .container
    %a.navbar-link{href: 'https://www.example.com', target: '_blank'}
      = "#{Ares::SystemInfo.owner} | \u00A9 #{Date.today.year} whiznews.com"
    %a.navbar-link.float-right{href: 'https://www.mythcoders.com', target: '_blank'}
      - if Rails.env.production?
        = "Developed by #{Ares::SystemInfo.developer}"
      - else
        = "#{Ares::SystemInfo.version} | Developed by #{Ares::SystemInfo.developer}"