%nav.navbar.fixed-bottom.whiz-footer
  .container
    %a.navbar-link{href: 'https://www.whiznews.com', target: '_blank'}
      = "#{WHIZ::INFO.owner} | \u00A9 #{Date.today.year} whiznews.com"
    %a.navbar-link.float-right{href: 'https://www.mythcoders.com', target: '_blank'}
      - if Rails.env.production?
        = "Developed by #{WHIZ::INFO.developer}"
      - else
        = "#{WHIZ::INFO.version} | Developed by #{WHIZ::INFO.developer}"