%nav.navbar.navbar-expand-md.navbar-light.mb-3{style: 'font-size: 1.3rem;'}
  .container-fluid
    = link_to root_path, class: 'navbar-brand d-block d-sm-none' do
      Sign Junkie Workshop
    %button.navbar-toggler{data: { target: '#navbarSupportedContent', toggle: 'collapse' }, aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' }, type: 'button'}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.nav-fill.w-100
        %li.nav-item
          = link_to 'Home', root_path, class: 'nav-link'
        %li.nav-item
          = link_to 'How It Works', how_it_works_path, class: 'nav-link'
        %li.nav-item.dropdown.no-arrow
          %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
            Projects
          .dropdown-menu{"aria-labelledby": "userDropdown"}
            %a.dropdown-item{href: projects_path} Available Projects
            %a.dropdown-item{href: projects_path} Stencil Designs
            %a.dropdown-item{href: addons_path} Project Add-ons
            %a.dropdown-item{href: gallery_path} Photo Gallery
        %li.nav-item.dropdown.no-arrow
          %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
            Private Workshops
          .dropdown-menu{"aria-labelledby": "userDropdown"}
            %a.dropdown-item{href: private_policies_path} Private Workshop Policies
            %a.dropdown-item{href: private_hostess_path} Hostess Guidelines
            %a.dropdown-item{href: workshops_private_path} Available Dates
        %li.nav-item.dropdown.no-arrow
          %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
            About
          .dropdown-menu{"aria-labelledby": "userDropdown"}
            %a.dropdown-item{href: about_path} About Us
            %a.dropdown-item{href: contact_path} Contact Us
            %a.dropdown-item{href: policies_path} Public Workshop Policies
            %a.dropdown-item{href: waiver_path} Waiver
            %a.dropdown-item{href: faq_path} FAQs
        %li.nav-item
          = link_to 'Gift Cards', gift_cards_path, class: 'nav-link'

        - if user_signed_in?
          %li.nav-item
            = link_to my_account_path, title: 'My Acount', class: 'nav-link' do
              = fa_solid 'user-circle'
              My Account
          %li.nav-item
            = link_to cart_index_path, title: 'Shopping cart', class: 'nav-link' do
              = fa_solid 'shopping-cart'
              = "Cart - #{@cart_total}"
          - if current_user.can_cp?
            %li.nav-item
              = link_to admin_dashboard_path, title: 'Admin Portal', class: 'nav-link' do
                = fa_solid 'wrench'
        - else
          %li.nav-item
            = link_to new_user_session_path, class: 'nav-link' do
              = fa_solid 'sign-in'
              Log In
