%nav.navbar.navbar-expand-md.mb-3{style: 'font-size: 1.3rem; padding: 0;'}
  .container-fluid{style: 'padding: 0;'}
    = link_to root_path, class: 'navbar-brand d-inline d-sm-none' do
      Sign Junkie Workshop
      - unless Rails.env.production?
        %span.text-warning= "- #{EnvironmentInfo.current.upcase}"
    %button.navbar-toggler{data: { target: '#navbarSupportedContent', toggle: 'collapse' }, aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' }, type: 'button'}
      = fa_solid 'bars'
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.nav-fill.w-100
        %li.nav-item
          = link_to 'Home', root_path, class: 'nav-link'
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
            Projects
          .dropdown-menu
            %a.dropdown-item{href: projects_path} Available Projects
            %a.dropdown-item{href: stencils_path} Stencil Designs
            %a.dropdown-item{href: addons_path} Project Add-ons
            %a.dropdown-item{href: gallery_path} Photo Gallery
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
            %span.d-md-none.d-lg-inline Public Workshops
            %span.d-none.d-md-inline.d-lg-none Public
          .dropdown-menu
            %a.dropdown-item{href: policies_path} Public Workshop Policies
            %a.dropdown-item{href: workshops_bookings_path} Hostess Guidelines for Group Bookings
            %a.dropdown-item{href: workshops_public_path} Available Dates
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
            %span.d-md-none.d-lg-inline Private Workshops
            %span.d-none.d-md-inline.d-lg-none Private
          .dropdown-menu
            %a.dropdown-item{href: private_policies_path} Private Workshop Policies
            %a.dropdown-item{href: private_hostess_path} Hostess Guidelines for Private Workshops
            %a.dropdown-item{href: workshops_private_path} Available Dates
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
            About
          .dropdown-menu
            %a.dropdown-item{href: about_path} About Us
            %a.dropdown-item{href: contact_path} Contact Us
            %a.dropdown-item{href: how_it_works_path} How It Works
            %a.dropdown-item{href: waiver_path} Waiver of Liability
            %a.dropdown-item{href: faq_path} FAQs
        %li.nav-item
          %a.nav-link{href: gift_cards_path}
            Gift Cards
        - if user_signed_in?
          %li.nav-item
            = link_to cart_index_path, title: 'Shopping cart', class: 'nav-link' do
              = fa_solid 'shopping-cart'
              Cart
          %li.nav-item
            = link_to my_account_path, title: 'My Acount', class: 'nav-link' do
              = fa_solid 'user-circle'
              %span.d-none.d-lg-inline My Account
          - if current_user.astronaut?
            %li.nav-item
              = link_to admin_dashboard_path, title: "#{SystemInfo.app_name} Mission Control", class: 'nav-link' do
                = fa_solid 'rocket'
        - else
          %li.nav-item
            = link_to new_user_session_path, class: 'nav-link' do
              = fa_solid 'sign-in'
              Sign In
