%nav.navbar.navbar-expand-lg.navbar-light.bg-primary
  .container-fluid
    = link_to home_path, class: 'navbar-brand text-white' do
      = ClientInfo.name
      - unless Rails.env.production?
        %strong.text-warning.text-uppercase.ml-2= EnvironmentInfo.current
    %button.navbar-toggler{data: { target: '#navbarSupportedContent', toggle: 'collapse' }, aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' }, type: 'button'}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      = render partial: 'layouts/partials/public_menu'
      = render partial: 'layouts/partials/user_menu'
