%ul.navbar-nav
  %li.nav-item{class: ('active' if current_page?(home_path))}
    = link_to 'Our Workshops', home_path, class: 'nav-link text-white'
%ul.navbar-nav.ml-auto
  %li.nav-item
    = link_to cart_index_path, title: 'Shopping cart', class: 'nav-link text-white' do
      = fa_solid 'shopping-cart'
      %span.badge.badge-info= @cart_total
  %li.nav-item
    = link_to orders_path, title: 'Orders', class: 'nav-link text-white' do
      = fa_solid 'shopping-bag'
      Orders
  - if current_user.can_cp?
    %li.nav-item
      = link_to admin_path, title: 'Control Panel', class: 'nav-link text-white' do
        = fa_solid 'wrench'
  %li.nav-item.dropdown
    %a#navbarDropdown.nav-link.dropdown-toggle.text-white{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
      = fa_solid 'user-circle'
      My Account
    .dropdown-menu.dropdown-menu-right{"aria-labelledby": "navbarDropdown"}
      %a.dropdown-item{href: addresses_path} Addresses
      %a.dropdown-item{href: edit_user_registration_path} Security
      .dropdown-divider
      %a.dropdown-item{"data-target": "#logoutModal", "data-toggle": "modal", href: "#"}
        = fa_regular 'sign-out-alt'
        Sign Out
