%div{'data-controller': 'seat-wizard-review'}
  .card-body
    .alert.alert-info.mt-2{'data-seat-wizard-review-target': 'disclaimer'}
      Please review your project selection. Changes can not be made once your order has been submitted.

    - if require_affirmations
      - affirmations.each do |affirmation|
        .form-group{'data-seat-wizard-review-target': 'acknowledgment'}
          .custom-switch.custom-control
            = check_box_tag "affirm-#{affirmation.id}", "affirm-#{affirmation.id}", false, class: 'custom-control-input', required: true, 'data-seat-wizard-review-target': 'input'
            = label_tag "affirm-#{affirmation.id}", affirmation.title, class: 'custom-control-label'
          = affirmation.content

  .card-footer.card-sticky-footer
    %button.btn.btn-info.btn-block{type: 'submit', 'data-action': 'single-form-submit#disableOnSubmit'}
      %i.fas.fa-cart-plus
      %span{'data-seat-wizard-review-target': 'submitMessage'} Add to Cart
