.card
  %h3.card-header.bg-primary.text-white Summary
  .card-body
    - if size.positive?
      .media.align-items-center.mb-3
        .font-size-1.font-weight-normal.mb-0.mr-3 Item subtotal (#{size})
        .media-body.text-right
          %span.font-weight-medium= number_to_currency subtotal
      .media.align-items-center.mb-3
        .font-size-1.font-weight-normal.mb-0.mr-3 Sales Tax
        .media-body.text-right
          %span.font-weight-medium= number_to_currency tax
      .media.align-items-center.mb-4
        .font-size-1.font-weight-normal.mb-0.mr-3 Total due today
        .media-body.text-right
          %span.font-weight-medium= number_to_currency total
      = form_tag new_invoice_path, method: 'get' do
        - if @credit_balance.positive?
          .card.border-0.mb-3
            .card-body.p-0
              .custom-control.custom-checkbox.small
                = check_box_tag :gift_cards, 'true', false, class: 'custom-control-input'
                %label.custom-control-label{for: 'gift_cards'}
                  = "Apply #{number_to_currency @credit_balance} in gift cards towards this purchase"
        = submit_tag 'Proceed to Checkout', class: 'btn btn-info btn-block'
    - else
      .text-center
        %h4.card-title Empty Cart
        %p.card-text.text-muted Add some items to your cart to see pricing