.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Contact Us
.row
  .col-12.col-md-6.mb-2
    %div#googleMap{style: "width:100%;height:400px;"}
  .col-12.col-md-6.text-center
    %h5.text-info.text-uppercase Our Address
    %address.address.mb-2
      %strong
        = ClientInfo.address_1
        %br= "#{ClientInfo.city}, #{ClientInfo.state} #{ClientInfo.zip_code}"
    %a.btn.btn-outline-primary.btn-block.btn-lg{href: "mailto:#{ClientInfo.contact_email}"}
      %h5
        = fa_solid 'envelope-open'
        = ClientInfo.contact_email
    %a.btn.btn-outline-primary.btn-block.btn-lg{href: ClientInfo.facebook_link}
      %h5
        = fa_brands 'facebook'
        Facebook
    %a.btn.btn-outline-primary.btn-block.btn-lg{href: ClientInfo.instagram_link}
      %h5
        = fa_brands 'instagram'
        Instagram

= content_for :scripts do
  :javascript
    function renderMap() {
      var location = new google.maps.LatLng(39.8644078,-82.434);
      var props = {
        center: location,
        zoom: 17,
        mapTypeId: google.maps.MapTypeId.HYBRID
      };
      var map = new google.maps.Map(document.getElementById('googleMap'), props);
      var marker = new google.maps.Marker({
        position: location,
        map: map,
        title: 'Sign Junkie'
      });
    }
  %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBMAZg6UEdBTJCgUqgneFCeiDZdDs0uBYA&callback=renderMap"}
