- content_for :head do
  = stylesheet_link_tag 'map', type: 'text/css', 'data-turbo-track': 'reload', media: 'all'
  = javascript_pack_tag 'map', type: 'text/javascript', 'data-turbo-track': 'reload'

.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Contact Us
.row
  .col-12.col-lg-8.mb-2
    %div#contact-map{style: "width:100%;height:400px;",
                     'data-controller': 'map',
                     'data-map-access-token-value': @mapbox_token,
                     'data-map-marker-position-value': [-82.434, 39.8644078],
                     'data-map-marker-label-value': 'Sign Junkie'}
  .col-4.text-center
    %h5.text-info.text-uppercase Our Address
    %address.address.mb-2
      %strong
        = ClientInfo.address_1
        %br= "#{ClientInfo.city}, #{ClientInfo.state} #{ClientInfo.zip_code}"
      %a{href: "mailto:#{ClientInfo.contact_email}"}= ClientInfo.contact_email
    %hr
    %a.btn.btn-outline-primary.btn-block.btn-lg{href: ClientInfo.facebook_link}
      %h5
        = fa_brands 'facebook-square'
        Facebook
    %a.btn.btn-outline-primary.btn-block.btn-lg{href: ClientInfo.instagram_link}
      %h5
        = fa_brands 'instagram-square'
        Instagram
