- amounts = [25, 20, 40, 50, 75, 100]

.row
  .col-12.mb-3
    .col.d-none.d-md-inline
      %h4.text-info.text-center
        A gift card to Sign Junkie makes a wonderful present for that someone special in your life!
    .col.d-md-none
      %h6.text-info.text-center
        A gift card to Sign Junkie makes a wonderful present for that someone special in your life!

  .col-12.col-lg-6.mb-2
    %img.card-img-top{alt: 'Gift card', src: asset_path('GiftCard.jpg')}
  .col-12.col-lg-6
    - if user_signed_in?
      = form_for :cart, url: cart_index_path do |f|
        .card
          %h4.card-header.bg-primary.text-white
            Gift Card
          .card-body{'data-controller': 'giftcard'}
            = f.hidden_field :type, value: 'gift_card'
            %p.card-text
              Please enter the information of the person you're giving the gift card to.
              We'll send them an email and invite them to Sign Junkie.
            .form-row
              .form-group.col-md-6
                = f.label :first_name
                = f.text_field :first_name, class: 'form-control', required: 'required'
              .form-group.col-md-6
                = f.label :last_name
                = f.text_field :last_name, class: 'form-control', required: 'required'
            .form-row
              .form-group.col
                = f.label :email
                = f.text_field :email, class: 'form-control', required: 'required'
            .form-row
              .form-group.col
                %label{for: "cart_amount"} Gift card amount
                .input-group
                  .input-group-prepend
                    #btnGroupAddon.input-group-text $
                  = f.text_field :amount, class: 'form-control', required: 'required', value: '25', type: 'number', 'data-giftcard-target': 'selectedAmount'
                %br
                - amounts.each do |amount|
                  %button.btn.btn-primary{type: "button",
                                          'data-action': 'giftcard#setAmount',
                                          'data-amount': "#{amount}"}= number_to_currency(amount, precision: 0)
          .card-footer
            %button.btn.btn-info.btn-block{title: "Add to cart", type: "submit"}
              %i.fas.fa-cart-plus
              %span Add to Cart
    - else
      %a.btn.btn-primary.btn-block.btn-lg(href=new_user_session_path)
        = fa_solid 'sign-in'
        Log In or Sign up to add this to your cart
