.row.justify-content-center.mt-3
  .col-12
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Book a Workshop

  - if @announcements.any?
    .col-12
      - @announcements.each do |announcement|
        .alert.alert-info
          = announcement.content

.row
  .col-3
    = form_tag workshops_path, method: :post do |f|
      .form-group
        %label Workshop Type
        - @workshop_types.each do |workshop_type|
          .custom-control.custom-radio
            %input.custom-control-input{name: "workshop_type_id", type: "radio", value: workshop_type.id, id: "workshop_type#{workshop_type.id}"}
            %label.custom-control-label{:for => "workshop_type#{workshop_type.id}"}= workshop_type.name

      .form-group
        %label Allowed Ages
        .custom-control.custom-radio
          %input#adults_only.custom-control-input{name: "family_friendly", type: "radio", value: "0"}
          %label.custom-control-label{:for => "adults_only"} Adult Only
        .custom-control.custom-radio
          %input#family_friendly.custom-control-input{name: "family_friendly", type: "radio", value: "1"}
          %label.custom-control-label{:for => "family_friendly"} Family Friendly

      %button.btn.btn-primary.btn-block{title: "Search", type: "submit", data: { disable_with: false }}
        %i.fas.fa-magnifying-glass
        %span Search
  .col-9
    %turbo-frame#results
      .alert.alert-info.small.mt-2
        %h6.alert-heading Custom Sign Order
        %p
          Let Sign Junkie make your Sign!
          %br= link_to "Learn more", workshops_custom_order_path, class: "alert-link"

      .row.justify-content-center
        .col
          .card.mt-3
            %img.card-img-top{src: @image.present? ? rails_blob_path(@image) : asset_path('ComingSoon.jpeg')}
            .card-body
              %p.card-text
                Use the filters on the left to find a workshop that fits your needs!

