.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2
    = fa_solid 'home'
    = welcome_message
.row
  .col-xl-8
    .row
      .col.col-md-6.mb-3
        .card.text-white.bg-success.o-hidden.h-100
          .card-body
            .card-body-icon
              = fa_solid 'file-invoice', 'fa-fw'
            %h3.mr-5 Past Orders
          %a.card-footer.text-white.clearfix.small.z-1{href: invoices_path}
            %span.float-left View
            %span.float-right
              = fa_solid 'angle-right'
      .col.col-md-6.mb-3
        .card.text-white.bg-info.o-hidden.h-100
          .card-body
            .card-body-icon
              = fa_solid 'shopping-cart', 'fa-fw'
            %h3.mr-5= "#{@cart_total} items in your cart"
          %a.card-footer.text-white.clearfix.small.z-1{href: cart_index_path}
            %span.float-left View
            %span.float-right
              = fa_solid 'angle-right'
  .col-xl-4
    .card
      %h5.card-header.bg-primary.text-white
        = fa_regular 'link'
        Account Options
      %ul.list-group.list-group-flush
        %a.list-group-item.list-group-item-action{data: { 'clickable-row': '', href:edit_user_registration_path }}
          Change email or password
        %a.list-group-item.list-group-item-action{data: { 'clickable-row': '', href: '' }}
          = "#{number_to_currency current_user.credit_balance} in gift cards available for use"
        %a.list-group-item.list-group-item-action{data: { 'clickable-row': '', href: 'mailto:signjunkie@columbus.rr.com' }}
          Contact Support
