.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        = fa_solid 'user-circle'
        My Account

.row
  .col-12.col-md-6.col-lg-4.mb-3
    .card.text-white.bg-info.o-hidden.h-100
      .card-body
        .card-body-icon
          = fa_solid 'file-invoice', 'fa-fw'
        %h3.mr-5 Your Orders
      %a.card-footer.text-white.clearfix.small.z-1{href: invoices_path}
        %span.float-left Review or cancel past orders
        %span.float-right
          = fa_solid 'angle-right'
  .col-12.col-md-6.col-lg-4.mb-3
    .card.text-white.bg-info.o-hidden.h-100
      .card-body
        .card-body-icon
          = fa_solid 'gift-card', 'fa-fw'
        %h3.mr-5= "#{number_to_currency(current_user.credit_balance)} credit for use"
      %a.card-footer.text-white.clearfix.small.z-1{href: my_credits_path}
        %span.float-left View
        %span.float-right
          = fa_solid 'angle-right'
  .col-12.col-md-6.col-lg-4.mb-3
    .card.text-white.bg-info.o-hidden.h-100
      .card-body
        .card-body-icon
          = fa_solid 'user-circle', 'fa-fw'
        %h3.mr-5 Account information
      %a.card-footer.text-white.clearfix.small.z-1{href: edit_user_registration_path}
        %span.float-left Update email or password
        %span.float-right
          = fa_solid 'angle-right'
  .col-12.col-md-6.col-lg-4.mb-3
    .card.text-white.bg-info.o-hidden.h-100
      .card-body
        .card-body-icon
          = fa_solid 'info-square', 'fa-fw'
        %h3.mr-5 Contact support
      %a.card-footer.text-white.clearfix.small.z-1{href: 'mailto:signjunkie@columbus.rr.com'}
        %span.float-left Email
        %span.float-right
          = fa_solid 'angle-right'
