%h1
  = fa_solid 'ticket-alt'
  My Tickets

.row
  - @upcoming_tickets.each do |ticket|
    .col-12.col-sm-6.mb-2
      .card
        %h4.card-header.bg-primary.text-white
          = ticket.workshop.name
        %ul.list-group
          %li.list-group-item
            = fa_solid 'calendar-alt'
            %strong When
            = ticket.workshop.when
          %li.list-group-item
            = fa_solid 'swatchbook'
            %strong Project
            = ticket.description
          - if ticket.seating.present?
            %li.list-group-item
              = fa_solid 'chair'
              %strong Requested seating
              = ticket.seating
        - if ticket.order.user_id == current_user.id
          .card-footer
            = link_to 'View Order', order_path(ticket.order), class: 'btn btn-outline-secondary btn-sm'

#old-tickets.collapse
  .row
    - @past_tickets.each do |ticket|
      .col-12.col-sm-6.mb-2
        .card
          %h4.card-header.bg-primary.text-white
            = ticket.workshop.name
          .card-body
            = ticket.workshop.when
            %br= ticket.description
