- content_for :head do
  = javascript_import_module_tag "editor"
- page_title 'Edit', @affirmation.title, 'Affirmations'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Affirmations
        %h1.header-title
          %i.fad.fa-file-contract
          = "Edit #{@affirmation.title}"

= form_for @affirmation, url: admin_affirmation_path(@affirmation), method: :patch do |f|
  .row.justify-content-center
    .col.col-lg-8.col-md-12
      .card.mt-3
        .card-body
          = error_messages_for 'affirmation'
          = render partial: 'admin/affirmations/form', locals: { f: f }
        .card-footer
          = link_to 'Cancel', admin_affirmations_path, class: 'btn btn-outline-secondary'
          = f.submit 'Save', class: 'btn btn-success'
          .float-right
            = link_to "Delete", admin_affirmation_path(@affirmation), method: :delete, class: 'btn btn-outline-danger',
              data: {confirm: 'Are you sure want to delete this affirmation? This can not be undone!'}
