- page_title 'Admin Portal'

!!!
%html
  %head
    = render partial: 'layouts/partials/header'
    = stylesheet_link_tag @admin_ui_theme, type: 'text/css', 'data-turbo-track': 'reload', media: 'all'
    = javascript_pack_tag 'main', type: 'text/javascript', 'data-turbo-track': 'reload'
  %body{'data-turbo': 'true'}
    = render partial: "layouts/admin/toast_alerts"
    = render partial: "layouts/admin/sidebar"
    .main-content.d-print-inline
      = render partial: "layouts/partials/logout"
      = render partial: "layouts/partials/user_preferences"
      .container-fluid
        = yield