- page_title 'Admin Portal'

!!!
%html{html_attrs('en-us')}
  %head
    = render partial: 'layouts/partials/header'
    = stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload', id: 'maincss'
    = javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload'
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js", type: "text/javascript"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js", type: "text/javascript"}
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css", rel: "stylesheet"}
  %body#page-top
    = render partial: 'layouts/partials/admin_navbar'
    = render partial: 'layouts/partials/logout'
    #wrapper
      = render partial: 'layouts/partials/admin_sidebar'
      #content-wrapper
        .container-fluid
          #pageLoading
            #pageLoadingContent
              %p#pageLoadingSpinner
                = fa_spin 'spinner', 'fa-5x'
                %br
                %span.text-primary Loading ... Please wait...
          -# = render partial: 'layouts/partials/dev_ui'
          = render partial: 'layouts/partials/alerts'
          = yield :breadcrumbs
          = yield
    %a.scroll-to-top.rounded{href: '#page-top'}
      = fa_solid 'angle-up'
  = yield :scripts
  :javascript
    document.addEventListener("turbolinks:load", function() {
      window.FontAwesome.dom.i2svg();
      $.onmount()
    });
