- page_title 'Admin Portal'

!!!
%html{html_attrs('en-us')}
  %head
    = render partial: 'layouts/partials/header'
    = javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload', type: 'text/javascript'
    - if @ui_theme == 'dark'
      = stylesheet_pack_tag 'admin_dark', 'data-turbolinks-track': 'reload', type: 'text/css'
    - else
      = stylesheet_pack_tag 'admin', 'data-turbolinks-track': 'reload', type: 'text/css'
  %body
    = render partial: "layouts/admin/toast_alerts"
    = render partial: "layouts/admin/sidebar"
    .main-content
      = render partial: "layouts/partials/logout"
      = render partial: "layouts/partials/user_preferences"
      .container-fluid
        = yield :breadcrumbs
        = yield
    = yield :scripts
    - if Rails.env.production?
      :javascript
        $(function() {
          Raven.config("#{Rails.application.credentials.dig(:sentry, :public_dsn)}").install();
        });
