- page_title 'Admin Portal'

!!!
%html{html_attrs('en-us')}
  %head
    = render partial: 'layouts/partials/header'
    = javascript_pack_tag 'main', type: 'text/javascript', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag @admin_ui_theme, type: 'text/css', 'data-turbolinks-track': 'reload'
  %body
    = render partial: "layouts/admin/toast_alerts"
    = render partial: "layouts/admin/sidebar"
    .main-content
      = render partial: "layouts/partials/logout"
      = render partial: "layouts/partials/user_preferences"
      .container-fluid
        = yield
    = yield :scripts