- page_title 'Admin Portal'

!!!
%html{html_attrs('en-us')}
  %head
    = render partial: 'layouts/partials/header'
    - css_file = @ui_theme == 'dark' ? 'admin_dark' : 'admin'
    = stylesheet_link_tag css_file, media: 'all', 'data-turbolinks-track': 'reload', id: 'maincss'
    = javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload'
    %script{src: "https://kit.fontawesome.com/41aacffc34.js"}
  %body
    #apollo-app
      = render partial: "layouts/admin/toast_alerts"
      = render partial: "layouts/admin/sidebar"
      .main-content
        = render partial: "layouts/partials/logout"
        %user-preferences
        .container-fluid
          = yield :breadcrumbs
          = yield
    = yield :scripts
