!!!
%html
  %head
    = render partial: 'layouts/partials/header'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', id: 'maincss'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://kit.fontawesome.com/41aacffc34.js"}
    - if @client_token
      %script{src: 'https://js.braintreegateway.com/js/braintree-2.32.1.min.js'}
  %body
    #apollo-app
      #pageLoading
        #pageLoadingContent
          %p#pageLoadingSpinner
            = fa_spin 'spinner', 'fa-5x'
            %br
            %span.text-primary Loading ... Please wait...
      = render partial: 'layouts/partials/logout'
      .container
        %a{href: root_path}
          %img.img-system-logo.d-none.d-sm-block{src: '/SJWlogo.svg'}
        = render partial: 'layouts/partials/navbar'
        = render partial: 'layouts/partials/alerts'
        = yield :breadcrumbs
        = yield
      = render partial: 'layouts/partials/footer'
    = yield :scripts
    - if Rails.env.production?
      :javascript
        $(function() {
          Raven.config("#{Rails.application.credentials.errors_dsn}").install();
        });
