!!!
%html
  %head
    = render partial: 'layouts/partials/header'
    = javascript_pack_tag 'application', type: 'text/javascript'
    = stylesheet_pack_tag 'application', type: 'text/css'
    - if @client_token
      %script{src: 'https://js.braintreegateway.com/web/dropin/1.25.0/js/dropin.min.js'}
  %body#page-top
    #pageLoading
      #pageLoadingContent
        %p#pageLoadingSpinner
          = fa_spin 'spinner', 'fa-5x'
          %br
          %span.text-primary Loading ... Please wait...
    = render partial: 'layouts/partials/logout'
    .container
      %a{href: root_path}
        %img.img-system-logo.d-none.d-sm-block{src: '/SJWlogo.svg'}
      = render partial: 'layouts/partials/navbar'
      = render partial: 'layouts/partials/alerts'
      = yield :breadcrumbs
      = yield
    = render partial: 'layouts/partials/footer'
    = yield :scripts
