!!!
%html
  %head
    = render partial: 'layouts/partials/header'
    = stylesheet_link_tag 'application', type: 'text/css', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'main', type: 'text/javascript', 'data-turbo-track': 'reload'
    = turbo_include_tags
  %body#page-top
    = render partial: 'layouts/partials/logout'
    .container
      %a{href: root_path}
        %img.img-system-logo.d-none.d-sm-block{src: '/SJWlogo.svg'}
      = render partial: 'layouts/partials/navbar'
      = render partial: 'layouts/partials/alerts'
      = yield
    = render partial: 'layouts/partials/footer'
    = yield :scripts
