!!!
%html
  %head
    = render partial: 'layouts/partials/header'
    = stylesheet_link_tag 'application', type: 'text/css', 'data-turbo-track': 'reload', media: 'all'
    = javascript_include_tag 'application', type: 'text/javascript', defer: true, 'data-turbo-track': 'reload'
  %body#page-top{'data-turbo': 'true'}
    = render partial: 'layouts/partials/logout'
    .container
      %a{href: root_path}
        %img.img-system-logo.d-none.d-sm-block.d-print-none{src: asset_path('SJWlogo.svg')}
      = render partial: 'layouts/partials/navbar'
      = render partial: 'layouts/partials/alerts'
      = yield
    = render partial: 'layouts/partials/footer'
