!!!
%html
  %head
    = render partial: 'layouts/partials/header'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', id: 'maincss'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container.padded-container
      = render partial: 'layouts/partials/alerts'
      .row
        .col-sm-8.offset-sm-2
          .card
            .card-header.bg-primary.text-white
              %strong= ClientInfo.name
              |
              = yield :header
            .card-body
              = yield
  :javascript
    document.addEventListener("turbolinks:load", function() {
        window.FontAwesome.dom.i2svg();
        $.onmount()
      });
