!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv": "Content-Type"}
    %meta{content: "ie=edge", "http-equiv": "x-ua-compatible"}
    %meta{name: "x-apple-disable-message-reformatting"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "telephone=no, date=no, address=no, email=no", name: "format-detection"}
    = stylesheet_link_tag 'mailer', type: 'text/css', media: 'all'
  %body.bg-light
    .container.mt-2
      %a{href: root_url}
        %img.mb-2{src: asset_path('SJWlogo.svg'), style: "display: block; margin-left: auto; margin-right: auto;"}
      = yield
      %hr
      %p.text-center
        = link_to ClientInfo.owner, SignJunkie.env_url
        %br= ClientInfo.address_1
        #{ClientInfo.city}, #{ClientInfo.state} #{ClientInfo.zip_code}
        %br
        Find us on
        %a{href: ClientInfo.facebook_link} Facebook
        and
        %a{href: ClientInfo.instagram_link} Instagram
