%div{data_attributes}
  .card-body.mt-2
    %h5.card-title Select your project

    = hidden_field_tag 'cart[project_id]', nil, 'data-seat-wizard-project-tab--component-target': 'input'

    .row
      - @projects.each do |project|
        - image = project.project_images.first

        .col-4.col-md-3.p-1
          %a.card.shadow-light-lg.mb-1{href: '#',
                                       'data-seat-wizard-target': 'project',
                                       'data-action': 'seat-wizard-project-tab--component#toggle',
                                       'data-id': project.id,
                                       'data-active-addons': project.addons.active.any?}
            .card-zoom.d-none.d-md-block
              %img.card-img{alt: "Image of #{project.name}", src: url_for(image), loading: 'lazy'}
            .card-body.text-center.card-body-tight{'data-seat-wizard-project-tab--component-target': 'option',
                                                   'data-id': project.id}
              %img.img-fluid.d-none.d-md-none{alt: "Image of #{project.name}", src: url_for(image), loading: 'lazy'}
              %p.card-text.text-primary.mb-2= project.name
              %p.card-text.text-dark.mb-0= number_to_currency project.total_price
              - if project.addons.active.any?
                .badge.badge-info Add-ons!

  .card-footer.card-sticky-footer
    %a.btn.btn-primary{href: '#', 'data-action': 'seat-wizard--component#goToTab', 'data-destination': 'guest'} Previous
    .float-right
      %a.btn.btn-primary.disabled{href: '#',
                                  'data-action': 'seat-wizard--component#goToTab',
                                  'data-destination': 'addon',
                                  'data-seat-wizard-project-tab--component-target': 'nextButton'} Next
